<div class="container addjob-container">
  <div class="row justify-content-center">

    <form (ngSubmit)="forgetpassword()" ngNativeValidate class="form addjobform col-lg-6 col-sm-8" >
      <div class="form-group">
        <label>Email </label>
        <div class="input-group mb-3">
          <input type="email" [(ngModel)]="email" name="Business" class="form-control" placeholder="Enter your email"
            required>
        </div>
      </div>
      
      <div class="btn-postjob">
        <button type="submit" class="btn  jugglr-btn-next">Reset password
        </button>
      </div>
      <div class="col justify-content-center ">
        <div class="loader" *ngIf="loading"></div>
        <div class="text-center" style="color: red" *ngIf="message!=null">{{message}}</div>
        
        <div class="text-center" *ngIf="!resetdone">
          <span>Don't have an account?<a class="btn btn-link pinklink" (click)="opendsignup()" >Sign up</a></span>
        </div>
        <div class="text-center" *ngIf="resetdone">
            <span>An email has been sent with further instructions.<a class="btn btn-link pinklink" (click)="opendsignup()" >Sign in</a></span>
          </div>
      </div>

    </form>
  </div>
</div>