
<nav class="navbar navbar-expand-md navbar-dark jugglr-mainheader fixed-top">
  <div class="container">
    <a class="navbar-brand" (click)="gotohome()">
      <img src="../../../assets/Untitledlogo.png">
    </a>
    
  <button class="navbar-toggler toggler-example" type="button" data-toggle="collapse" data-target=".dual-collapse2"
  aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"><span class="dark-blue-text"><i
      class="fas fa-bars fa-1x" (click)="toggleNavbar()"></i></span></button>

  <div class="navbar-collapse collapse  order-1 order-md-0 dual-collapse2" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="btn nav-link jugglr-btn-browsejobs" (click)="postjob()">Post Gig</a>
      </li>

      <li class="nav-item">
        <a class="btn nav-link jugglr-btn-browsejobs" (click)="browsjob()" *ngIf="!isConnected">Browse
          gigs</a>
        <a class="btn nav-link jugglr-btn-browsejobs" (click)="opendashboard()" *ngIf="isConnected">Dashboard</a>
      </li>

    </ul>
  </div>

  <div class="navbar-collapse collapse  order-3 order-md-0 dual-collapse2 " [ngClass]="{ 'show': navbarOpen }">

    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" (click)="howitwork()" href="#howitwork">How it works</a>
      </li>


      <li class="nav-item" *ngIf="!isConnected">
        <a class="btn nav-link text-left " (click)="signin()">Sign in</a>
      </li>
      <li class="nav-item" *ngIf="isConnected">
        <a class="btn nav-link text-left" (click)="logout()">Logout</a>
      </li>
      <li class="nav-item" *ngIf="isConnected">
        <i class="far fa-2x fa-bell bellnotification" placement="bottom" [ngbPopover]="popContent" popoverTitle="notification">
          <span class="fa-stack" *ngIf="headerBellCount">{{headerBellCount}}</span>
        </i>
      </li>
    </ul>
  </div>
</div>


</nav>
<ng-template #popContent>
  <app-notifications></app-notifications>
</ng-template>