
  <div class="container addjob-container" >
    <div class="row justify-content-center">

      <form (ngSubmit)="signin()"  ngNativeValidate class="form addjobform col-lg-6 col-sm-8" *ngIf="login">
        <div class="form-group">
          <label>Email </label>
          <div class="input-group mb-3">
            <input type="email" [(ngModel)]="user.email" name="Business" class="form-control" placeholder="Enter your email" required>
          </div>
        </div>
        <div class="form-group">
          <label>Password</label>
          <div class="input-group mb-3">
            <input type="password" [(ngModel)]="user.password" name="Business" class="form-control" placeholder="Enter your password" required>
          </div>
        </div>
        <div class="btn-postjob">
          <button type="submit"  class="btn  jugglr-btn-next">Sign In
          </button>
        </div>
        <div class="col justify-content-center ">
            <div class="loader" *ngIf="loading"></div>
            <div class="text-center" style="color: red" *ngIf="message!=null">{{message}}</div>
          <div class="text-center">
            <span>Don't have an account?<a class="btn btn-link pinklink"  (click)="goSignUp()">Sign up</a></span>
          </div>
          <div class="text-center">
            <span><a class="btn btn-link pinklink" [routerLink]="['/forgotpassword']"><small>Forgot password?</small></a></span>
          </div>
        </div>

      </form>

      <form (ngSubmit)="startregistred()"  ngNativeValidate class="form addjobform col-lg-6 col-sm-8" *ngIf="!login" >

        <div class="form-group " required>
          <label>Business name *</label>
          <div class="input-group mb-3">
            <input type="text"  [(ngModel)]="user.firstname" name="Businessname" class="form-control" placeholder="Enter your business name" required>
          </div>
        </div>
        <div class="form-group">
          <label>Business contact email *</label>
          <div class="input-group mb-3">
            <input type="email" email [(ngModel)]="user.email" name="Businessemail" class="form-control" placeholder="This email will become your username" required>
          </div>
        </div>
        <div class="form-group">
          <label>Password *</label>
          <div class="input-group mb-3">
            <input type="password" required [(ngModel)]="user.password" name="Businesspassword" class="form-control" placeholder="Choose a password">
          </div>
        </div>
        <div class="form-group">
          <label>Business website *</label>
          <div class="input-group mb-3">
            <input type="text" [(ngModel)]="user.webaddress" name="Businesswebsite" class="form-control" placeholder="e.g. www.yourwebsite.com" required>
          </div>
        </div>
        <div class="form-group">
          <label>Business phone number *</label>
          <div class="input-group mb-3">
            <input type="text" required [(ngModel)]="user.phone" name="Businessphone" class="form-control" placeholder="e.g. 0415123456 or 0898765432">
          </div>
        </div>
        <div class="form-group">
          <label>Business address *</label>
          <div class="input-group mb-3">
            <input ngx-google-places-autocomplete [options]="options" [(ngModel)]="user.address" name="Businessaddress" id="address-input" class="form-control" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"  placeholder="Enter your business address" required/>
          </div>
        </div>
        <div class="form-group">
          <label>Social media page link (optional)</label>
          <div class="input-group mb-3">
            <input type="text" [(ngModel)]="user.contactus" name="Businesspage" class="form-control" placeholder="e.g. facebook page link">
          </div>
        </div>
        <div class="form-group">
          <label>Business description</label>
          <div class="input-group mb-3">
            <textarea [(ngModel)]="user.about_me" name="Businessbio" class="form-control" placeholder="Short description of your business (max 300 characters)"></textarea>
          </div>
        </div>
        <!--<div class="form-group">
          <label>Business profile image</label>
          <div class="input-group mb-3">
            <input type="text" [(ngModel)]="user.profile_image_thumb" name="Businesspic" class="form-control" placeholder="link to the profile pics">
          </div>
        </div>-->

        <div class="form-group" style="color: red">
          <label>* Required</label>
        </div>
        <div class="btn-postjob">
          <input type="submit"  value="Sign up" class="btn  jugglr-btn-next">
        </div>
        <div class="col justify-content-center ">
            <div class="loader" *ngIf="loading"></div>
            <div class="text-center" style="color: red" *ngIf="message!=null">{{message}}</div>
          <div class="text-center">
            <span>Have an account?<a class="btn btn-link pinklink"  (click)="showlogin()">Log in</a></span>
          </div>
        </div>

      </form>
    </div>
  </div>

