<div class="row addjob-container justify-content-center">
<div class="container ">
  <div>
    <h1 class="text-center">Gigs Available</h1>
  </div>




  <div class="row  justify-content-center">

      <div class="row container justify-content-center">
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" (click)="signin()" style="">
            <div class="circle-img-background">
              <img src="https://s3-ap-southeast-2.amazonaws.com/jugglrimages/1519185606.530488.jpg" alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
            </div>
            <div class="card-body">
              <span class="card-text price "><br></span>
              <h5 class="card-text name">No Menu</h5>
              <p class="card-text type">Marketing Executive</p>
              <p class="card-text discription">Need experienced marketing professional for 15hr a week to plan and execute promotions for functions and corporate events.</p>
            </div>
        </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" (click)="signin()" style="">
          <div class="circle-img-background">
            <img src="https://s3-ap-southeast-2.amazonaws.com/jugglrimages/1539143944.369880.jpg"  alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
          </div>
          <div class="card-body">
            <span class="card-text price "><br></span>
            <h5 class="card-text name">Credi</h5>
            <p class="card-text type">Grant Writer</p>
            <p class="card-text discription">Experienced professional at writing grant applications required.</p>
          </div>
        </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" (click)="signin()" style="">
          <div class="circle-img-background">
            <img src="https://s3-ap-southeast-2.amazonaws.com/jugglrimages/1531285091.466118.jpg" alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
          </div>
          <div class="card-body">
            <span class="card-text price "><br></span>
            <h5 class="card-text name">Conquest Finance Solutions</h5>
            <p class="card-text type">Marketing Strategy</p>
            <p class="card-text discription">Looking for a creative professional mother who can help us develop and launch financial education programs. </p>
          </div>
        </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" (click)="signin()" style="">
          <div class="circle-img-background">
            <img src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/Function%20Logo_400x400.png?alt=media&token=62b352f2-36bc-4697-8a2c-71cb124c9774" alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
          </div>
          <div class="card-body">
            <span class="card-text price "><br></span>
            <h5 class="card-text name">Function Creative</h5>
            <p class="card-text type">Photographer</p>
            <p class="card-text discription">Photographer required for client corporate photoshoot. Applicants required to share current portfolio for review. Expected 8-10hr of work.</p>
          </div>
        </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" (click)="signin()" style="">
          <div class="circle-img-background">
            <img src="https://s3-ap-southeast-2.amazonaws.com/jugglrimages/1493174236.834071.jpg" alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
          </div>
          <div class="card-body">
            <span class="card-text price "><br></span>
            <h5 class="card-text name">State Sailing Centre</h5>
            <p class="card-text type">Sailing Instructor</p>
            <p class="card-text discription">We are looking for qualified sailing instructors who have experience in running courses for Primary and High School aged students.</p>
          </div>
        </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" (click)="signin()" style="">
            <div class="circle-img-background">
              <img src="https://s3-ap-southeast-2.amazonaws.com/jugglrimages/1539143944.369880.jpg"  alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
            </div>
            <div class="card-body">
              <span class="card-text price "><br></span>
              <h5 class="card-text name">Credi</h5>
              <p class="card-text type">Photographer</p>
              <p class="card-text discription">Looking for mums with a photography background to take team and individual business photos.</p>
            </div>
          </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" (click)="signin()" style="">
            <div class="circle-img-background">
              <img src="https://s3-ap-southeast-2.amazonaws.com/jugglrimages/1540267471.862849.jpg"  alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
            </div>
            <div class="card-body">
              <span class="card-text price "><br></span>
              <h5 class="card-text name">Venue Maestro</h5>
              <p class="card-text type">Business Development</p>
              <p class="card-text discription">Business development professional required for onboarding new hospitality venues to our platform.</p>
            </div>
          </div>
        <div class="card shadow p-3 bg-white rounded xd justify-content-center" style="">
          <div class="circle-img-background">
            <img src="https://firebasestorage.googleapis.com/v0/b/jugglrtest.appspot.com/o/Admin%20Support%20Mum_400x400pxls_F.jpg?alt=media&token=ddc67ceb-badb-400e-bd28-307ded96a98d" alt="Random second slide" class="rounded-circlex jugglr-profile-img-static">
          </div>
          <div class="card-body">
            <span class="card-text price "></span>
            <h5 class="card-text name"><br> </h5>
            <div class=" card-text type" >Sign in to view other available gigs<br><br>
            </div>
            <p class="card-text discription">
              <a class="btn jugglr-btn-browsejobs" (click)="signin()">Sign in </a>
            </p>
          </div>
        </div>
</div>
    </div>
</div>
