<div class="container addjob-container">
  <!--/col-3-->
  <div class="row">
    <div class="card col-12 col-md-6">
      <div class="row card-header">
        <button class="btn btn-link btnbackprofile" (click)="goBack()"><i class="fas fa-arrow-left"></i></button>
        <div class="jobdetailtitle col-12">{{profileViewData['name']}}</div>
      </div>
      <div class="card-deck row border-light  justify-content-center">
        <div class="row">
          <div class=" col-3 btnshortlistcontainer">
            <div class="btnshortlist" *ngIf="profileViewData['is_shortlist']==0">
              <div class="btn btn-link" (click)="shortlist()">
                <i class="fas fa-2x fa-users yellowbtn"></i></div>
            </div>
            <div class="btnshortlist" *ngIf="profileViewData['is_shortlist']==1">
              <div class="btn btn-link" (click)="shortlist()">
                <i class="fas fa-2x fa-users greenbtn"></i>
              </div>
            </div>
          </div>
          <div class="col-6 ">
            <div class="circle-img-background"><img [src]="profileViewData['profile_image']" alt="" class="rounded-circlex jugglr-profile-img">
            </div>
          </div>
          <div class=" col-3 btnshortlistcontainer">
            <div class="btnshortlist" *ngIf="!profileViewData['is_shortlist']">
              <div class="btn btn-link" (click)="startchat()">
                <i class="fas fa-2x fa-comments yellowbtn"></i></div>
            </div>
            <div class="btnshortlist" *ngIf="profileViewData['is_shortlist']">
              <div class="btn btn-link" (click)="startchat(content)">
                <i class="fas fa-2x fa-comments greenbtn"></i>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="card-deck border-light border-bottom ">
        
            <p>{{profileViewData['about_me']}}</p>
        
      </div>

      <div class="card-deck row border-light border-bottom" *ngIf="profileViewData['type']==1">
        <div class="w-100 jobdetailnote">
          
          <div class="row justify-content-center">
            <small>Services offered</small>
          </div>
          <div class="row" style="padding: 10px">
            <div class="" *ngFor="let ser of profileViewData['subservice_offered']">
              <span class="col subserviceoffer">{{ser['subservice_name']}}</span>
            </div>
          </div>

        </div>
      </div>
      <div class="card-deck row border-light border-bottom" *ngIf="profileViewData['type']==2">
          <div class="w-100 jobdetailnote">
            
            <div class="row justify-content-center">
              <small>Details</small>
            </div>
            <div class="row" style="padding: 10px">
                <p><i class="fas fa-map-marker-alt"></i> {{profileViewData['address']}}</p>
            </div>
            <div class="row" style="padding: 10px">
                <p><i class="fas fa-globe-americas"></i> {{profileViewData['webaddress']}}</p>
            </div>
            <div class="row" style="padding: 10px">
                <p><i class="fas fa-phone"></i> {{profileViewData['phone']}}</p>
            </div>
  
          </div>
        </div>
      <div class="card-deck row justify-content-center text-center border-light border-bottom">
        <button (click)="makeoffer(content2)" class="btn jugglr-btn-next" *ngIf="profileViewData['type']==1">Hire for a gig</button>
        <a href="mailto:{{profileViewData['email']}}" class="btn jugglr-btn-next jugglr-link-next" *ngIf="profileViewData['type']==2">Contact</a>
      </div>

    </div>

  </div>

</div>
<!--/tab-content-->
<!--/col-9-->


<!--/row-->



<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center text-center">
      <img src="../../../../assets/ico-app-dl.png" class=" mx-auto d-block">
    </div>
    <div class="row justify-content-center text-center" >
      <div class="col-10 ">
        <h4>This feature is only available in our mobile app!</h4>
        <p>Download Jugglr for mobile from your app store.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <a href="https://play.google.com/store/apps/details?id=com.jugglr&hl=en" target="_blank"><img src="../../../../assets/google%20play.png"
          class=" btn"></a>
      <a href="https://itunes.apple.com/au/app/jugglr-mums-work-on-demand/id1116637048?mt=8" target="_blank"><img src="../../../../assets/download-on-the-app-store-apple.png"
          class=" btn"></a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>


<ng-template #content2 let-modal>
  <div class="modal-header">
      Gig Summary 
    
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

    <div class="row justify-content-center text-center" >
      <div class="col-10 ">
        <div class="row">
          <img [src]="profileViewData['profile_image']" onerror="this.src='../../../assets/defaultprofile.png';" class="rounded-circlex jugglr-profile-img jugglr-profile-imgpopup">
        </div>
        <div class="row">
          <form ngNativeValidate  class="form addjobform col-12">
            <div class="form-group">
              <label></label>
              <div class="input-group mb-3">
                <div class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>

                
                <input required  type="text" [ngbTypeahead]="search" [resultFormatter]="formatter"
                  [inputFormatter]="inputformatter" [(ngModel)]="model" name="Customservice" class="form-control"
                  placeholder="Service required">
              </div>
            </div>
            <div class="form-group">
                <label *ngIf="">note</label>
                <div class="input-group mb-3">
                  <textarea required type="text" rows="6" [(ngModel)]="newoffer.need_note" name="Note" class="form-control form-control-noborder" placeholder="Describe the work required, the approximate hours and hourly rate if applicable, for example: ‘we are looking for professionals to promote our company at a local trade show. $23/h, 5h shifts, 10am-3pm and 3pm-8pm. From 22/9 till 29/9. (max 300 characters)" aria-label="jobDescription" aria-describedby="basic-addon2"></textarea>
                </div>
              </div>
              <div class="form-group">
                  <label for="formGroupExampleInput2">Gig budget</label>
                  <div class="input-group mb-3">
                    <div class="input-group-append">
                      <span class="input-group-text"><i class="fas fa-dollar-sign"></i></span>
                    </div>
                    <input required type="number" [(ngModel)]="newoffer.amount" name="amount" class="form-control" placeholder="Enter your total budget for the gig">
                  </div>
                </div>
                <div class="form-group">
                    <button (click)="addmakeoffer()" class="btn jugglr-btn-next">send gig offer</button>

                  </div>
            </form>
        </div>

      </div>
    </div>
   
  </div>
  <div class="modal-footer">
  </div>
</ng-template>