@import url('https://themes.googleusercontent.com/fonts/css?kit=f07rT8OfEooBJQZ-uS2Ruw');
@import url('https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98');
.coldate{
    background: #2a3E54;
    color: #ffffff;
    padding-left: 0;
    padding-right: 0;
    
}
.coldatecontent span{
    font-weight: 200!important;}
.card-body {
    padding-top: 0px;
    padding-bottom: 0px;
    
    height: 94px;
}

.jugglr-tagx-main{
    min-width: 140px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background: #2a3E54;
    border-color:#2a3E54;
    border-width: 1px;
    color: #EBD1CA;
    margin-bottom: 0px;
  
  }
  .jugglr-tagx-main:hover{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background: #EBD1CA;
    border-color:#2a3E54;
    border-width: 1px;
    color: #2a3E54;
  }
  .jugglr-tagx-new{
    min-width: 140px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background: #86A6B2;
    border-color:#86A6B2;
    border-width: 1px;
    color: #2a3E54;
    margin-bottom: 0px;
  
  }
  .jugglr-tagx-new:hover{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background: #EDE2D2;
    border-color:#2a3E54;
    border-width: 1px;
    color: #FFFFFF;
  }
.jugglr-tag-new{
    min-width: 140px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background: #86A6B2;
    border-color:#86A6B2;
    border-width: 1px;
    color: #2a3E54;
    margin-bottom: 0px;

  }
  .jugglr-tag-new:hover{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background: #EDE2D2;
    border-color:#2a3E54;
    border-width: 1px;
    color: #FFFFFF;
  }
  .texttodo{
      text-align: left;
      text-decoration: underline;
      cursor: pointer;
  }
  .tab-pane {
    background: #FFFFFF;
    overflow-y: scroll;
  }
  
  .jugglr-profile-img{
      width: 80px;
      height: 80px;
  }
  .transactiondetail{
      
      text-align: left;
  }
  .transactiondetailrow span{
    font-weight: 200!important;      
  }
  .transactiondetailcol2 .row{
      padding: 5px;
      padding-left: 15px !important;
     
    }
    .transactiondetailrow{
        border-top:1px solid #EDE2D2;
        font-size: 15px;
        font-weight: 400;
        text-align: left!important;

    }
    .transactiondetailinexchange{
        border-top:1px solid #EDE2D2;
        padding-top:20px;
        text-align: center;
        font-size: 18px;

    }
    .transactiondetailinexchange .transactiondetailrow{
        text-align: left!important;
    }
    .transactiondetailinexchange{
    }
    .jugglr-btn-next{
        min-width: 100px!important;
        margin-right: 20px;
        padding: 0!important;
    }
    .declinebutton{
        background: #86A6B2;
    border-color:#86A6B2;
    }
    .btnpositive{
        
    }
    .btnneutral{
        background: #86A6B2;
        border-color:#86A6B2;

 
    }
    .btnnegativ{
        background: #EDE2D2;
        border-color:#EDE2D2;
        color: #2a3E54;

    }
    .jugglralert{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000;
        width: 100%;
        background: #EDE2D2;
        
    }
    
    .jugglr-tag-main{
        min-width: 140px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
        text-transform: uppercase;
        background: #2a3E54;
        border-color:#2a3E54;
        border-width: 1px;
        color: #EBD1CA;
        margin-bottom: 0px;
    
      }
      .jugglr-tag-main:hover{
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
        text-transform: uppercase;
        background: #EBD1CA;
        border-color:#2a3E54;
        border-width: 1px;
        color: #2a3E54;
      }
      .coldatecontentcheck{
        margin: auto;
        padding: inherit;
          }
      .coldateandchek{
          width: 130px;
          height: 130px;
          display: flex;
      }
      .tododetail{
          padding:15px;
      }
      .actionzone{
        margin-top: 15px;
        display: inline-flex;
        padding: 0;
    }
    .marginright15{
        margin-right:15px;
    }
   
      ol.lst-kix_ykiu40x3xyuh-8.start{
          
      }
      .lst-kix_gtarf41jibja-0>li:before{
          
      }
      .lst-kix_gtarf41jibja-1>li:before{
          
      }
      ol.lst-kix_8vh754ggeeff-2{
          list-style-type:none
      }
      ol.lst-kix_8vh754ggeeff-1{
          list-style-type:none
      }
      .lst-kix_gtarf41jibja-3>li:before{
          
      }
      ol.lst-kix_8vh754ggeeff-0{
          list-style-type:none
      }
      ol.lst-kix_8vh754ggeeff-6{
          list-style-type:none
      }
      ol.lst-kix_8vh754ggeeff-5{
          list-style-type:none
      }
      ol.lst-kix_8vh754ggeeff-4{
          list-style-type:none
      }
      ol.lst-kix_8vh754ggeeff-3{
          list-style-type:none
      }
      .lst-kix_gtarf41jibja-2>li:before{
          
      }
      ol.lst-kix_8vh754ggeeff-8{
          list-style-type:none
      }
      ol.lst-kix_pg09k491jegz-6.start{
          
      }
      ol.lst-kix_8vh754ggeeff-7{
          list-style-type:none
      }
      .lst-kix_iu7mdplu0a0z-5>li{
          
      }
      .lst-kix_gtarf41jibja-8>li:before{
          
      }
      ol.lst-kix_iu7mdplu0a0z-4.start{
          
      }
      ol.lst-kix_gtarf41jibja-1.start{
          
      }
      .lst-kix_gtarf41jibja-7>li:before{
          
      }
      ol.lst-kix_5c2oc31gu39b-7.start{
          
      }
      .lst-kix_ykiu40x3xyuh-7>li{
          
      }
      ol.lst-kix_nqt8apitp1f-8.start{
          
      }
      .lst-kix_gtarf41jibja-4>li:before{
          
      }
      .lst-kix_gtarf41jibja-6>li:before{
          
      }
      .lst-kix_gtarf41jibja-5>li:before{
          
      }
      .lst-kix_8vh754ggeeff-6>li{
          
      }
      ol.lst-kix_6r4t08o7wtxr-6.start{
          
      }
      ol.lst-kix_hzt9je3xmr21-5.start{
          
      }
      .lst-kix_xa5bco3v44qw-8>li{
          
      }
      ol.lst-kix_8vh754ggeeff-6.start{
          
      }
      ol.lst-kix_f8uehs1zffdj-4.start{
          
      }
      ol.lst-kix_pg09k491jegz-1.start{
          
      }
      .lst-kix_5c2oc31gu39b-5>li{
          
      }
      .lst-kix_hzt9je3xmr21-6>li{
          
      }
      .lst-kix_8k6p5k6ptt2n-3>li:before{
          
      }
      .lst-kix_9rnes2644pvy-3>li{
          
      }
      .lst-kix_8k6p5k6ptt2n-2>li:before{
          
      }
      .lst-kix_8k6p5k6ptt2n-4>li:before{
          
      }
      .lst-kix_f8uehs1zffdj-4>li{
          
      }
      .lst-kix_q8ugnwew73pj-8>li{
          
      }
      .lst-kix_8k6p5k6ptt2n-7>li:before{
          
      }
      .lst-kix_8k6p5k6ptt2n-0>li:before{
          
      }
      .lst-kix_8k6p5k6ptt2n-8>li:before{
          
      }
      .lst-kix_6r4t08o7wtxr-4>li{
          
      }
      .lst-kix_8k6p5k6ptt2n-1>li:before{
          
      }
      .lst-kix_8k6p5k6ptt2n-6>li:before{
          
      }
      .lst-kix_94fit3boy9p8-5>li{
          
      }
      .lst-kix_8k6p5k6ptt2n-5>li:before{
          
      }
      ol.lst-kix_nqt8apitp1f-3.start{
          
      }
      .lst-kix_pg09k491jegz-1>li{
          
      }
      .lst-kix_6r4t08o7wtxr-8>li{
          
      }
      ol.lst-kix_6r4t08o7wtxr-1.start{
          
      }
      ol.lst-kix_gtarf41jibja-8.start{
          
      }
      ol.lst-kix_8k6p5k6ptt2n-1.start{
          
      }
      ol.lst-kix_8vh754ggeeff-1.start{
          
      }
      .lst-kix_hzt9je3xmr21-2>li{
          
      }
      .lst-kix_5c2oc31gu39b-1>li{
          
      }
      .lst-kix_iu7mdplu0a0z-1>li{
          
      }
      .lst-kix_nqt8apitp1f-2>li{
          
      }
      ol.lst-kix_8k6p5k6ptt2n-8.start{
          
      }
      .lst-kix_gtarf41jibja-0>li{
          
      }
      .lst-kix_f8uehs1zffdj-2>li:before{
          
      }
      .lst-kix_f8uehs1zffdj-4>li:before{
          
      }
      ol.lst-kix_kp35uv8jck87-4.start{
          
      }
      ol.lst-kix_94fit3boy9p8-5.start{
          
      }
      ol.lst-kix_ykiu40x3xyuh-1.start{
          
      }
      .lst-kix_kp35uv8jck87-1>li{
          
      }
      .lst-kix_f8uehs1zffdj-0>li:before{
          
      }
      .lst-kix_f8uehs1zffdj-6>li:before{
          
      }
      .lst-kix_f8uehs1zffdj-8>li:before{
          
      }
      .lst-kix_6r4t08o7wtxr-1>li{
          
      }
      ol.lst-kix_q8ugnwew73pj-6.start{
          
      }
      ol.lst-kix_q8ugnwew73pj-7{
          list-style-type:none
      }
      ol.lst-kix_q8ugnwew73pj-8{
          list-style-type:none
      }
      .lst-kix_kp35uv8jck87-2>li{
          
      }
      ol.lst-kix_q8ugnwew73pj-5{
          list-style-type:none
      }
      ol.lst-kix_q8ugnwew73pj-6{
          list-style-type:none
      }
      ol.lst-kix_hzt9je3xmr21-3.start{
          
      }
      ol.lst-kix_q8ugnwew73pj-0{
          list-style-type:none;
          
      }
      .lst-kix_pg09k491jegz-5>li{
          
      }
      ol.lst-kix_q8ugnwew73pj-3{
          list-style-type:none
      }
      ol.lst-kix_q8ugnwew73pj-4{
          list-style-type:none
      }
      ol.lst-kix_q8ugnwew73pj-1{
          list-style-type:none
      }
      ol.lst-kix_q8ugnwew73pj-2{
          list-style-type:none
      }
      .lst-kix_9rnes2644pvy-3>li:before{
          
      }
      .lst-kix_nqt8apitp1f-4>li:before{
          
      }
      .lst-kix_nqt8apitp1f-6>li:before{
          
      }
      .lst-kix_8vh754ggeeff-3>li{
          
      }
      .lst-kix_9rnes2644pvy-1>li:before{
          
      }
      .lst-kix_f8uehs1zffdj-8>li{
          
      }
      ol.lst-kix_iu7mdplu0a0z-6.start{
          
      }
      ol.lst-kix_gtarf41jibja-3.start{
          
      }
      ol.lst-kix_xa5bco3v44qw-1.start{
          
      }
      ol.lst-kix_8k6p5k6ptt2n-6.start{
          
      }
      .lst-kix_nqt8apitp1f-0>li:before{
          
      }
      .lst-kix_nqt8apitp1f-8>li:before{
          
      }
      .lst-kix_94fit3boy9p8-1>li{
          
      }
      .lst-kix_gtarf41jibja-4>li{
          
      }
      ol.lst-kix_8k6p5k6ptt2n-3.start{
          
      }
      .lst-kix_q8ugnwew73pj-0>li{
          
      }
      ol.lst-kix_9rnes2644pvy-1.start{
          
      }
      .lst-kix_9rnes2644pvy-7>li{
          
      }
      .lst-kix_nqt8apitp1f-2>li:before{
          
      }
      .lst-kix_hzt9je3xmr21-3>li{
          
      }
      .lst-kix_5c2oc31gu39b-8>li{
          
      }
      ol.lst-kix_nqt8apitp1f-6.start{
          
      }
      ol.lst-kix_ykiu40x3xyuh-3.start{
          
      }
      .lst-kix_xa5bco3v44qw-4>li{
          
      }
      ol.lst-kix_kp35uv8jck87-6.start{
          
      }
      .lst-kix_iu7mdplu0a0z-8>li{
          
      }
      ol.lst-kix_6r4t08o7wtxr-3.start{
          
      }
      .lst-kix_8k6p5k6ptt2n-7>li{
          
      }
      .lst-kix_iu7mdplu0a0z-2>li{
          
      }
      .lst-kix_iu7mdplu0a0z-1>li:before{
          
      }
      .lst-kix_ykiu40x3xyuh-6>li:before{
          
      }
      .lst-kix_8k6p5k6ptt2n-0>li{
          
      }
      ol.lst-kix_gtarf41jibja-6.start{
          
      }
      .lst-kix_ykiu40x3xyuh-0>li{
          
      }
      .lst-kix_9rnes2644pvy-2>li{
          
      }
      ol.lst-kix_q8ugnwew73pj-4.start{
          
      }
      .lst-kix_ykiu40x3xyuh-4>li:before{
          
      }
      .lst-kix_iu7mdplu0a0z-5>li:before{
          
      }
      ol.lst-kix_hzt9je3xmr21-0.start{
          
      }
      .lst-kix_q8ugnwew73pj-1>li{
          
      }
      .lst-kix_ykiu40x3xyuh-2>li:before{
          
      }
      .lst-kix_q8ugnwew73pj-7>li{
          
      }
      .lst-kix_iu7mdplu0a0z-3>li:before{
          
      }
      .lst-kix_iu7mdplu0a0z-7>li:before{
          
      }
      ol.lst-kix_pg09k491jegz-3.start{
          
      }
      ol.lst-kix_9rnes2644pvy-3.start{
          
      }
      ol.lst-kix_nqt8apitp1f-5.start{
          
      }
      .lst-kix_ykiu40x3xyuh-0>li:before{
          
      }
      .lst-kix_6r4t08o7wtxr-0>li{
          
      }
      ol.lst-kix_8k6p5k6ptt2n-0{
          list-style-type:none
      }
      ol.lst-kix_94fit3boy9p8-3.start{
          
      }
      ol.lst-kix_8k6p5k6ptt2n-1{
          list-style-type:none
      }
      .lst-kix_94fit3boy9p8-6>li{
          
      }
      .lst-kix_f8uehs1zffdj-3>li{
          
      }
      ol.lst-kix_8vh754ggeeff-4.start{
          
      }
      ol.lst-kix_8k6p5k6ptt2n-4{
          list-style-type:none
      }
      ol.lst-kix_8k6p5k6ptt2n-5{
          list-style-type:none
      }
      ol.lst-kix_8k6p5k6ptt2n-2{
          list-style-type:none
      }
      ol.lst-kix_8k6p5k6ptt2n-3{
          list-style-type:none
      }
      ol.lst-kix_8k6p5k6ptt2n-8{
          list-style-type:none
      }
      ol.lst-kix_8k6p5k6ptt2n-6{
          list-style-type:none
      }
      ol.lst-kix_f8uehs1zffdj-2.start{
          
      }
      ol.lst-kix_8k6p5k6ptt2n-7{
          list-style-type:none
      }
      ol.lst-kix_6r4t08o7wtxr-4.start{
          
      }
      .lst-kix_8vh754ggeeff-2>li{
          
      }
      .lst-kix_94fit3boy9p8-8>li{
          
      }
      .lst-kix_iu7mdplu0a0z-6>li{
          
      }
      ol.lst-kix_gtarf41jibja-6{
          list-style-type:none
      }
      ol.lst-kix_gtarf41jibja-7{
          list-style-type:none
      }
      .lst-kix_q8ugnwew73pj-5>li{
          
      }
      ol.lst-kix_gtarf41jibja-8{
          list-style-type:none
      }
      ol.lst-kix_gtarf41jibja-2{
          list-style-type:none
      }
      ol.lst-kix_gtarf41jibja-3{
          list-style-type:none
      }
      ol.lst-kix_gtarf41jibja-4{
          list-style-type:none
      }
      ol.lst-kix_gtarf41jibja-4.start{
          
      }
      ol.lst-kix_gtarf41jibja-5{
          list-style-type:none
      }
      .lst-kix_nqt8apitp1f-1>li{
          
      }
      ol.lst-kix_gtarf41jibja-0{
          list-style-type:none
      }
      ol.lst-kix_gtarf41jibja-1{
          list-style-type:none
      }
      ol.lst-kix_9rnes2644pvy-5.start{
          
      }
      .lst-kix_8vh754ggeeff-7>li{
          
      }
      ol.lst-kix_8vh754ggeeff-3.start{
          
      }
      ol.lst-kix_f8uehs1zffdj-7.start{
          
      }
      ol.lst-kix_94fit3boy9p8-1.start{
          
      }
      ol.lst-kix_q8ugnwew73pj-7.start{
          
      }
      .lst-kix_gtarf41jibja-1>li{
          
      }
      .lst-kix_ykiu40x3xyuh-8>li:before{
          
      }
      .lst-kix_q8ugnwew73pj-3>li{
          
      }
      .lst-kix_6r4t08o7wtxr-7>li{
          
      }
      .lst-kix_5c2oc31gu39b-2>li{
          
      }
      .lst-kix_pg09k491jegz-0>li{
          
      }
      ol.lst-kix_kp35uv8jck87-8.start{
          
      }
      ol.lst-kix_pg09k491jegz-4.start{
          
      }
      ol.lst-kix_q8ugnwew73pj-8.start{
          
      }
      ol.lst-kix_8k6p5k6ptt2n-0.start{
          
      }
      ol.lst-kix_94fit3boy9p8-5{
          list-style-type:none
      }
      ol.lst-kix_94fit3boy9p8-6{
          list-style-type:none
      }
      ol.lst-kix_94fit3boy9p8-7{
          list-style-type:none
      }
      ol.lst-kix_8vh754ggeeff-2.start{
          
      }
      ol.lst-kix_f8uehs1zffdj-6.start{
          
      }
      ol.lst-kix_94fit3boy9p8-8{
          list-style-type:none
      }
      .lst-kix_8vh754ggeeff-6>li:before{
          
      }
      .lst-kix_xa5bco3v44qw-3>li{
          
      }
      .lst-kix_kp35uv8jck87-8>li:before{
          
      }
      ol.lst-kix_nqt8apitp1f-8{
          list-style-type:none
      }
      ol.lst-kix_hzt9je3xmr21-2{
          list-style-type:none
      }
      ol.lst-kix_nqt8apitp1f-7{
          list-style-type:none
      }
      ol.lst-kix_hzt9je3xmr21-3{
          list-style-type:none
      }
      ol.lst-kix_hzt9je3xmr21-0{
          list-style-type:none
      }
      ol.lst-kix_hzt9je3xmr21-1{
          list-style-type:none
      }
      .lst-kix_8vh754ggeeff-7>li:before{
          
      }
      .lst-kix_kp35uv8jck87-5>li:before{
          
      }
      ol.lst-kix_nqt8apitp1f-4{
          list-style-type:none
      }
      ol.lst-kix_hzt9je3xmr21-6{
          list-style-type:none
      }
      ol.lst-kix_94fit3boy9p8-1{
          list-style-type:none
      }
      ol.lst-kix_nqt8apitp1f-3{
          list-style-type:none
      }
      ol.lst-kix_hzt9je3xmr21-7{
          list-style-type:none
      }
      ol.lst-kix_94fit3boy9p8-2{
          list-style-type:none
      }
      ol.lst-kix_nqt8apitp1f-6{
          list-style-type:none
      }
      ol.lst-kix_hzt9je3xmr21-4{
          list-style-type:none
      }
      ol.lst-kix_94fit3boy9p8-3{
          list-style-type:none
      }
      ol.lst-kix_nqt8apitp1f-5{
          list-style-type:none
      }
      ol.lst-kix_hzt9je3xmr21-5{
          list-style-type:none
      }
      ol.lst-kix_94fit3boy9p8-4{
          list-style-type:none
      }
      ol.lst-kix_nqt8apitp1f-0{
          list-style-type:none
      }
      ol.lst-kix_nqt8apitp1f-2{
          list-style-type:none
      }
      ol.lst-kix_hzt9je3xmr21-8{
          list-style-type:none
      }
      ol.lst-kix_nqt8apitp1f-1{
          list-style-type:none
      }
      ol.lst-kix_94fit3boy9p8-0{
          list-style-type:none
      }
      .lst-kix_kp35uv8jck87-0>li:before{
          
      }
      .lst-kix_94fit3boy9p8-1>li:before{
          
      }
      .lst-kix_9rnes2644pvy-5>li:before{
          
      }
      ol.lst-kix_f8uehs1zffdj-0{
          list-style-type:none
      }
      .lst-kix_94fit3boy9p8-0>li:before{
          
      }
      .lst-kix_gtarf41jibja-6>li{
          
      }
      ol.lst-kix_f8uehs1zffdj-2{
          list-style-type:none
      }
      ol.lst-kix_f8uehs1zffdj-1{
          list-style-type:none
      }
      .lst-kix_kp35uv8jck87-1>li:before{
          
      }
      ol.lst-kix_f8uehs1zffdj-4{
          list-style-type:none
      }
      .lst-kix_kp35uv8jck87-6>li{
          
      }
      ol.lst-kix_f8uehs1zffdj-3{
          list-style-type:none
      }
      .lst-kix_9rnes2644pvy-6>li:before{
          
      }
      ol.lst-kix_f8uehs1zffdj-6{
          list-style-type:none
      }
      .lst-kix_pg09k491jegz-7>li{
          
      }
      ol.lst-kix_f8uehs1zffdj-5{
          list-style-type:none
      }
      .lst-kix_kp35uv8jck87-4>li:before{
          
      }
      ol.lst-kix_f8uehs1zffdj-8{
          list-style-type:none
      }
      ol.lst-kix_f8uehs1zffdj-7{
          list-style-type:none
      }
      .lst-kix_nqt8apitp1f-8>li{
          
      }
      .lst-kix_pg09k491jegz-4>li{
          
      }
      ol.lst-kix_9rnes2644pvy-6.start{
          
      }
      .lst-kix_94fit3boy9p8-5>li:before{
          
      }
      .lst-kix_94fit3boy9p8-4>li:before{
          
      }
      .lst-kix_94fit3boy9p8-8>li:before{
          
      }
      .lst-kix_8vh754ggeeff-3>li:before{
          
      }
      .lst-kix_gtarf41jibja-3>li{
          
      }
      .lst-kix_8k6p5k6ptt2n-8>li{
          
      }
      .lst-kix_8vh754ggeeff-2>li:before{
          
      }
      ol.lst-kix_ykiu40x3xyuh-0.start{
          
      }
      .lst-kix_ykiu40x3xyuh-8>li{
          
      }
      .lst-kix_iu7mdplu0a0z-4>li{
          
      }
      ol.lst-kix_94fit3boy9p8-0.start{
          
      }
      ol.lst-kix_iu7mdplu0a0z-7{
          list-style-type:none
      }
      .lst-kix_nqt8apitp1f-6>li{
          
      }
      ol.lst-kix_iu7mdplu0a0z-8{
          list-style-type:none
      }
      ol.lst-kix_iu7mdplu0a0z-5{
          list-style-type:none
      }
      .lst-kix_xa5bco3v44qw-1>li{
          
      }
      ol.lst-kix_iu7mdplu0a0z-6{
          list-style-type:none
      }
      .lst-kix_hzt9je3xmr21-1>li{
          
      }
      .lst-kix_8k6p5k6ptt2n-3>li{
          
      }
      .lst-kix_f8uehs1zffdj-1>li:before{
          
      }
      .lst-kix_f8uehs1zffdj-5>li:before{
          
      }
      ol.lst-kix_f8uehs1zffdj-8.start{
          
      }
      ol.lst-kix_pg09k491jegz-7{
          list-style-type:none
      }
      ol.lst-kix_pg09k491jegz-6{
          list-style-type:none
      }
      ol.lst-kix_pg09k491jegz-5{
          list-style-type:none
      }
      .lst-kix_f8uehs1zffdj-7>li{
          
      }
      ol.lst-kix_pg09k491jegz-4{
          list-style-type:none
      }
      ol.lst-kix_pg09k491jegz-3{
          list-style-type:none
      }
      ol.lst-kix_pg09k491jegz-2{
          list-style-type:none
      }
      .lst-kix_9rnes2644pvy-6>li{
          
      }
      ol.lst-kix_pg09k491jegz-1{
          list-style-type:none
      }
      ol.lst-kix_pg09k491jegz-0{
          list-style-type:none
      }
      .lst-kix_5c2oc31gu39b-6>li:before{
          
      }
      ol.lst-kix_pg09k491jegz-8{
          list-style-type:none
      }
      ol.lst-kix_6r4t08o7wtxr-4{
          list-style-type:none
      }
      .lst-kix_6r4t08o7wtxr-6>li:before{
          
      }
      ol.lst-kix_iu7mdplu0a0z-0{
          list-style-type:none
      }
      ol.lst-kix_6r4t08o7wtxr-5{
          list-style-type:none
      }
      .lst-kix_5c2oc31gu39b-2>li:before{
          
      }
      ol.lst-kix_6r4t08o7wtxr-6{
          list-style-type:none
      }
      ol.lst-kix_6r4t08o7wtxr-8.start{
          
      }
      ol.lst-kix_6r4t08o7wtxr-7{
          list-style-type:none
      }
      ol.lst-kix_iu7mdplu0a0z-3{
          list-style-type:none
      }
      ol.lst-kix_6r4t08o7wtxr-8{
          list-style-type:none
      }
      ol.lst-kix_iu7mdplu0a0z-4{
          list-style-type:none
      }
      ol.lst-kix_iu7mdplu0a0z-1{
          list-style-type:none
      }
      ol.lst-kix_iu7mdplu0a0z-2{
          list-style-type:none
      }
      .lst-kix_6r4t08o7wtxr-2>li:before{
          
      }
      ol.lst-kix_9rnes2644pvy-0{
          list-style-type:none
      }
      .lst-kix_9rnes2644pvy-2>li:before{
          
      }
      ol.lst-kix_9rnes2644pvy-2{
          list-style-type:none
      }
      ol.lst-kix_9rnes2644pvy-1{
          list-style-type:none
      }
      ol.lst-kix_6r4t08o7wtxr-0{
          list-style-type:none
      }
      .lst-kix_6r4t08o7wtxr-2>li{
          
      }
      ol.lst-kix_6r4t08o7wtxr-1{
          list-style-type:none
      }
      ol.lst-kix_6r4t08o7wtxr-2{
          list-style-type:none
      }
      .lst-kix_nqt8apitp1f-1>li:before{
          
      }
      .lst-kix_nqt8apitp1f-5>li:before{
          
      }
      ol.lst-kix_6r4t08o7wtxr-3{
          list-style-type:none
      }
      .lst-kix_8vh754ggeeff-0>li{
          
      }
      .lst-kix_ykiu40x3xyuh-3>li{
          
      }
      ol.lst-kix_9rnes2644pvy-8{
          list-style-type:none
      }
      .lst-kix_9rnes2644pvy-4>li{
          
      }
      ol.lst-kix_9rnes2644pvy-7{
          list-style-type:none
      }
      .lst-kix_f8uehs1zffdj-5>li{
          
      }
      ol.lst-kix_9rnes2644pvy-4{
          list-style-type:none
      }
      .lst-kix_hzt9je3xmr21-1>li:before{
          
      }
      ol.lst-kix_9rnes2644pvy-3{
          list-style-type:none
      }
      ol.lst-kix_gtarf41jibja-0.start{
          
      }
      ol.lst-kix_9rnes2644pvy-6{
          list-style-type:none
      }
      ol.lst-kix_9rnes2644pvy-5{
          list-style-type:none
      }
      ol.lst-kix_pg09k491jegz-7.start{
          
      }
      .lst-kix_q8ugnwew73pj-8>li:before{
          
      }
      .lst-kix_hzt9je3xmr21-5>li:before{
          
      }
      .lst-kix_xa5bco3v44qw-7>li:before{
          
      }
      .lst-kix_kp35uv8jck87-4>li{
          
      }
      .lst-kix_pg09k491jegz-2>li{
          
      }
      .lst-kix_xa5bco3v44qw-3>li:before{
          
      }
      .lst-kix_q8ugnwew73pj-4>li:before{
          
      }
      ol.lst-kix_9rnes2644pvy-8.start{
          
      }
      .lst-kix_iu7mdplu0a0z-2>li:before{
          
      }
      ol.lst-kix_pg09k491jegz-8.start{
          
      }
      .lst-kix_gtarf41jibja-8>li{
          
      }
      .lst-kix_ykiu40x3xyuh-5>li:before{
          
      }
      .lst-kix_5c2oc31gu39b-0>li{
          
      }
      .lst-kix_iu7mdplu0a0z-6>li:before{
          
      }
      .lst-kix_q8ugnwew73pj-0>li:before{
          
      }
      .lst-kix_ykiu40x3xyuh-1>li:before{
          
      }
      .lst-kix_94fit3boy9p8-3>li{
          
      }
      .lst-kix_f8uehs1zffdj-0>li{
          
      }
      .lst-kix_8vh754ggeeff-5>li{
          
      }
      .lst-kix_5c2oc31gu39b-3>li{
          
      }
      .lst-kix_pg09k491jegz-1>li:before{
          
      }
      .lst-kix_pg09k491jegz-2>li:before{
          
      }
      ol.lst-kix_8vh754ggeeff-0.start{
          
      }
      ol.lst-kix_xa5bco3v44qw-5.start{
          
      }
      .lst-kix_pg09k491jegz-3>li:before{
          
      }
      .lst-kix_pg09k491jegz-5>li:before{
          
      }
      .lst-kix_nqt8apitp1f-0>li{
          
      }
      .lst-kix_pg09k491jegz-4>li:before{
          
      }
      ol.lst-kix_9rnes2644pvy-2.start{
          
      }
      .lst-kix_pg09k491jegz-7>li:before{
          
      }
      .lst-kix_pg09k491jegz-6>li:before{
          
      }
      .lst-kix_hzt9je3xmr21-8>li{
          
      }
      ol.lst-kix_8k6p5k6ptt2n-2.start{
          
      }
      .lst-kix_pg09k491jegz-8>li:before{
          
      }
      .lst-kix_xa5bco3v44qw-6>li{
          
      }
      ol.lst-kix_ykiu40x3xyuh-2.start{
          
      }
      ol.lst-kix_kp35uv8jck87-5.start{
          
      }
      .lst-kix_94fit3boy9p8-7>li{
          
      }
      .lst-kix_f8uehs1zffdj-2>li{
          
      }
      .lst-kix_9rnes2644pvy-1>li{
          
      }
      ol.lst-kix_gtarf41jibja-7.start{
          
      }
      ol.lst-kix_9rnes2644pvy-7.start{
          
      }
      ol.lst-kix_5c2oc31gu39b-1.start{
          
      }
      .lst-kix_q8ugnwew73pj-6>li{
          
      }
      .lst-kix_kp35uv8jck87-7>li{
          
      }
      .lst-kix_pg09k491jegz-0>li:before{
          
      }
      ol.lst-kix_6r4t08o7wtxr-0.start{
          
      }
      .lst-kix_q8ugnwew73pj-2>li{
          
      }
      ol.lst-kix_6r4t08o7wtxr-7.start{
          
      }
      ol.lst-kix_hzt9je3xmr21-4.start{
          
      }
      .lst-kix_8vh754ggeeff-4>li{
          
      }
      .lst-kix_5c2oc31gu39b-7>li{
          
      }
      ol.lst-kix_pg09k491jegz-0.start{
          
      }
      ol.lst-kix_8k6p5k6ptt2n-7.start{
          
      }
      .lst-kix_kp35uv8jck87-0>li{
          
      }
      ol.lst-kix_ykiu40x3xyuh-7.start{
          
      }
      ol.lst-kix_pg09k491jegz-5.start{
          
      }
      .lst-kix_5c2oc31gu39b-7>li:before{
          
      }
      ol.lst-kix_f8uehs1zffdj-5.start{
          
      }
      .lst-kix_kp35uv8jck87-3>li{
          
      }
      .lst-kix_5c2oc31gu39b-8>li:before{
          
      }
      ol.lst-kix_nqt8apitp1f-2.start{
          
      }
      ol.lst-kix_iu7mdplu0a0z-5.start{
          
      }
      .lst-kix_8k6p5k6ptt2n-5>li{
          
      }
      .lst-kix_8k6p5k6ptt2n-2>li{
          
      }
      .lst-kix_iu7mdplu0a0z-7>li{
          
      }
      ol.lst-kix_5c2oc31gu39b-6.start{
          
      }
      ol.lst-kix_gtarf41jibja-2.start{
          
      }
      .lst-kix_ykiu40x3xyuh-5>li{
          
      }
      ol.lst-kix_pg09k491jegz-2.start{
          
      }
      ol.lst-kix_94fit3boy9p8-2.start{
          
      }
      ol.lst-kix_6r4t08o7wtxr-2.start{
          
      }
      .lst-kix_ykiu40x3xyuh-1>li{
          
      }
      .lst-kix_5c2oc31gu39b-5>li:before{
          
      }
      ol.lst-kix_kp35uv8jck87-7.start{
          
      }
      .lst-kix_8vh754ggeeff-1>li{
          
      }
      .lst-kix_hzt9je3xmr21-0>li:before{
          
      }
      .lst-kix_5c2oc31gu39b-1>li:before{
          
      }
      ol.lst-kix_6r4t08o7wtxr-5.start{
          
      }
      .lst-kix_gtarf41jibja-5>li{
          
      }
      .lst-kix_5c2oc31gu39b-3>li:before{
          
      }
      .lst-kix_6r4t08o7wtxr-7>li:before{
          
      }
      ol.lst-kix_ykiu40x3xyuh-4.start{
          
      }
      .lst-kix_hzt9je3xmr21-6>li:before{
          
      }
      ol.lst-kix_nqt8apitp1f-7.start{
          
      }
      .lst-kix_hzt9je3xmr21-4>li:before{
          
      }
      .lst-kix_hzt9je3xmr21-8>li:before{
          
      }
      .lst-kix_6r4t08o7wtxr-1>li:before{
          
      }
      .lst-kix_6r4t08o7wtxr-5>li:before{
          
      }
      .lst-kix_hzt9je3xmr21-2>li:before{
          
      }
      ol.lst-kix_f8uehs1zffdj-0.start{
          
      }
      .lst-kix_6r4t08o7wtxr-3>li:before{
          
      }
      .lst-kix_q8ugnwew73pj-7>li:before{
          
      }
      ol.lst-kix_nqt8apitp1f-4.start{
          
      }
      .lst-kix_pg09k491jegz-6>li{
          
      }
      ol.lst-kix_q8ugnwew73pj-3.start{
          
      }
      ol.lst-kix_9rnes2644pvy-4.start{
          
      }
      ol.lst-kix_xa5bco3v44qw-0.start{
          
      }
      .lst-kix_hzt9je3xmr21-4>li{
          
      }
      .lst-kix_xa5bco3v44qw-4>li:before{
          
      }
      .lst-kix_xa5bco3v44qw-8>li:before{
          
      }
      .lst-kix_iu7mdplu0a0z-3>li{
          
      }
      ol.lst-kix_5c2oc31gu39b-8.start{
          
      }
      .lst-kix_nqt8apitp1f-3>li{
          
      }
      .lst-kix_8k6p5k6ptt2n-6>li{
          
      }
      .lst-kix_xa5bco3v44qw-2>li:before{
          
      }
      .lst-kix_8k6p5k6ptt2n-1>li{
          
      }
      .lst-kix_9rnes2644pvy-8>li{
          
      }
      ol.lst-kix_8vh754ggeeff-5.start{
          
      }
      .lst-kix_q8ugnwew73pj-5>li:before{
          
      }
      ol.lst-kix_8k6p5k6ptt2n-4.start{
          
      }
      .lst-kix_xa5bco3v44qw-0>li:before{
          
      }
      ol.lst-kix_hzt9je3xmr21-1.start{
          
      }
      ol.lst-kix_94fit3boy9p8-4.start{
          
      }
      .lst-kix_q8ugnwew73pj-1>li:before{
          
      }
      .lst-kix_q8ugnwew73pj-3>li:before{
          
      }
      ol.lst-kix_f8uehs1zffdj-3.start{
          
      }
      .lst-kix_nqt8apitp1f-4>li{
          
      }
      ol.lst-kix_xa5bco3v44qw-6{
          list-style-type:none
      }
      ol.lst-kix_xa5bco3v44qw-7{
          list-style-type:none
      }
      ol.lst-kix_xa5bco3v44qw-4{
          list-style-type:none
      }
      ol.lst-kix_xa5bco3v44qw-5{
          list-style-type:none
      }
      ol.lst-kix_xa5bco3v44qw-8{
          list-style-type:none
      }
      ol.lst-kix_iu7mdplu0a0z-8.start{
          
      }
      ol.lst-kix_gtarf41jibja-5.start{
          
      }
      ol.lst-kix_xa5bco3v44qw-2{
          list-style-type:none
      }
      ol.lst-kix_xa5bco3v44qw-3{
          list-style-type:none
      }
      ol.lst-kix_xa5bco3v44qw-0{
          list-style-type:none
      }
      ol.lst-kix_xa5bco3v44qw-1{
          list-style-type:none
      }
      ol.lst-kix_q8ugnwew73pj-5.start{
          
      }
      .lst-kix_94fit3boy9p8-0>li{
          
      }
      .lst-kix_6r4t08o7wtxr-6>li{
          
      }
      .lst-kix_8vh754ggeeff-8>li{
          
      }
      .lst-kix_xa5bco3v44qw-6>li:before{
          
      }
      .lst-kix_9rnes2644pvy-0>li{
          
      }
      ol.lst-kix_f8uehs1zffdj-1.start{
          
      }
      .lst-kix_f8uehs1zffdj-1>li{
          
      }
      .lst-kix_xa5bco3v44qw-7>li{
          
      }
      .lst-kix_hzt9je3xmr21-7>li{
          
      }
      ol.lst-kix_8k6p5k6ptt2n-5.start{
          
      }
      ol.lst-kix_iu7mdplu0a0z-7.start{
          
      }
      .lst-kix_kp35uv8jck87-8>li{
          
      }
      ol.lst-kix_5c2oc31gu39b-4.start{
          
      }
      ol.lst-kix_8vh754ggeeff-8.start{
          
      }
      .lst-kix_ykiu40x3xyuh-6>li{
          
      }
      ol.lst-kix_nqt8apitp1f-0.start{
          
      }
      .lst-kix_ykiu40x3xyuh-7>li:before{
          
      }
      .lst-kix_xa5bco3v44qw-5>li{
          
      }
      ol.lst-kix_ykiu40x3xyuh-5.start{
          
      }
      ol.lst-kix_hzt9je3xmr21-2.start{
          
      }
      ol.lst-kix_ykiu40x3xyuh-7{
          list-style-type:none
      }
      ol.lst-kix_ykiu40x3xyuh-6{
          list-style-type:none
      }
      .lst-kix_8vh754ggeeff-0>li:before{
          
      }
      ol.lst-kix_ykiu40x3xyuh-8{
          list-style-type:none
      }
      ol.lst-kix_5c2oc31gu39b-5.start{
          
      }
      ol.lst-kix_94fit3boy9p8-7.start{
          
      }
      .lst-kix_8vh754ggeeff-4>li:before{
          
      }
      ol.lst-kix_ykiu40x3xyuh-1{
          list-style-type:none
      }
      ol.lst-kix_q8ugnwew73pj-1.start{
          
      }
      ol.lst-kix_ykiu40x3xyuh-0{
          list-style-type:none
      }
      .lst-kix_8vh754ggeeff-5>li:before{
          
      }
      ol.lst-kix_ykiu40x3xyuh-3{
          list-style-type:none
      }
      ol.lst-kix_ykiu40x3xyuh-2{
          list-style-type:none
      }
      ol.lst-kix_ykiu40x3xyuh-5{
          list-style-type:none
      }
      ol.lst-kix_ykiu40x3xyuh-6.start{
          
      }
      ol.lst-kix_ykiu40x3xyuh-4{
          list-style-type:none
      }
      ol.lst-kix_xa5bco3v44qw-3.start{
          
      }
      .lst-kix_8vh754ggeeff-8>li:before{
          
      }
      .lst-kix_kp35uv8jck87-6>li:before{
          
      }
      ol.lst-kix_kp35uv8jck87-2.start{
          
      }
      ol.lst-kix_kp35uv8jck87-1{
          list-style-type:none
      }
      ol.lst-kix_kp35uv8jck87-0{
          list-style-type:none
      }
      ol.lst-kix_kp35uv8jck87-3{
          list-style-type:none
      }
      ol.lst-kix_kp35uv8jck87-2{
          list-style-type:none
      }
      ol.lst-kix_9rnes2644pvy-0.start{
          
      }
      ol.lst-kix_kp35uv8jck87-5{
          list-style-type:none
      }
      .lst-kix_6r4t08o7wtxr-5>li{
          
      }
      ol.lst-kix_kp35uv8jck87-4{
          list-style-type:none
      }
      .lst-kix_kp35uv8jck87-7>li:before{
          
      }
      ol.lst-kix_q8ugnwew73pj-2.start{
          
      }
      ol.lst-kix_kp35uv8jck87-7{
          list-style-type:none
      }
      ol.lst-kix_kp35uv8jck87-6{
          list-style-type:none
      }
      .lst-kix_9rnes2644pvy-4>li:before{
          
      }
      ol.lst-kix_94fit3boy9p8-6.start{
          
      }
      ol.lst-kix_kp35uv8jck87-8{
          list-style-type:none
      }
      .lst-kix_hzt9je3xmr21-5>li{
          
      }
      .lst-kix_94fit3boy9p8-3>li:before{
          
      }
      .lst-kix_9rnes2644pvy-7>li:before{
          
      }
      .lst-kix_nqt8apitp1f-5>li{
          
      }
      .lst-kix_9rnes2644pvy-8>li:before{
          
      }
      ol.lst-kix_xa5bco3v44qw-8.start{
          
      }
      .lst-kix_kp35uv8jck87-2>li:before{
          
      }
      .lst-kix_5c2oc31gu39b-4>li{
          
      }
      .lst-kix_94fit3boy9p8-2>li:before{
          
      }
      .lst-kix_kp35uv8jck87-3>li:before{
          
      }
      .lst-kix_94fit3boy9p8-7>li:before{
          
      }
      ol.lst-kix_5c2oc31gu39b-4{
          list-style-type:none
      }
      ol.lst-kix_5c2oc31gu39b-3{
          list-style-type:none
      }
      ol.lst-kix_5c2oc31gu39b-6{
          list-style-type:none
      }
      ol.lst-kix_5c2oc31gu39b-5{
          list-style-type:none
      }
      ol.lst-kix_5c2oc31gu39b-0{
          list-style-type:none
      }
      ol.lst-kix_5c2oc31gu39b-2{
          list-style-type:none
      }
      ol.lst-kix_5c2oc31gu39b-1{
          list-style-type:none
      }
      .lst-kix_ykiu40x3xyuh-2>li{
          
      }
      ol.lst-kix_kp35uv8jck87-3.start{
          
      }
      .lst-kix_8vh754ggeeff-1>li:before{
          
      }
      ol.lst-kix_8vh754ggeeff-7.start{
          
      }
      ol.lst-kix_5c2oc31gu39b-8{
          list-style-type:none
      }
      ol.lst-kix_5c2oc31gu39b-7{
          list-style-type:none
      }
      .lst-kix_94fit3boy9p8-6>li:before{
          
      }
      ol.lst-kix_xa5bco3v44qw-2.start{
          
      }
      ol.lst-kix_hzt9je3xmr21-6.start{
          
      }
      ol.lst-kix_iu7mdplu0a0z-0.start{
          
      }
      .lst-kix_94fit3boy9p8-2>li{
          
      }
      .lst-kix_5c2oc31gu39b-0>li:before{
          
      }
      ol.lst-kix_5c2oc31gu39b-0.start{
          
      }
      ol.lst-kix_5c2oc31gu39b-3.start{
          
      }
      .lst-kix_iu7mdplu0a0z-0>li{
          
      }
      ol.lst-kix_nqt8apitp1f-1.start{
          
      }
      .lst-kix_f8uehs1zffdj-7>li:before{
          
      }
      ol.lst-kix_kp35uv8jck87-1.start{
          
      }
      .lst-kix_8k6p5k6ptt2n-4>li{
          
      }
      .lst-kix_xa5bco3v44qw-0>li{
          
      }
      .lst-kix_5c2oc31gu39b-4>li:before{
          
      }
      .lst-kix_6r4t08o7wtxr-8>li:before{
          
      }
      .lst-kix_nqt8apitp1f-7>li{
          
      }
      .lst-kix_9rnes2644pvy-5>li{
          
      }
      .lst-kix_f8uehs1zffdj-3>li:before{
          
      }
      .lst-kix_hzt9je3xmr21-7>li:before{
          
      }
      .lst-kix_hzt9je3xmr21-3>li:before{
          
      }
      .lst-kix_94fit3boy9p8-4>li{
          
      }
      .lst-kix_9rnes2644pvy-0>li:before{
          
      }
      .lst-kix_6r4t08o7wtxr-4>li:before{
          
      }
      ol.lst-kix_xa5bco3v44qw-4.start{
          
      }
      .lst-kix_nqt8apitp1f-7>li:before{
          
      }
      .lst-kix_xa5bco3v44qw-2>li{
          
      }
      .lst-kix_q8ugnwew73pj-6>li:before{
          
      }
      .lst-kix_gtarf41jibja-7>li{
          
      }
      ol.lst-kix_iu7mdplu0a0z-3.start{
          
      }
      .lst-kix_pg09k491jegz-3>li{
          
      }
      ol.lst-kix_94fit3boy9p8-8.start{
          
      }
      .lst-kix_hzt9je3xmr21-0>li{
          
      }
      ol.lst-kix_q8ugnwew73pj-0.start{
          
      }
      ol.lst-kix_xa5bco3v44qw-7.start{
          
      }
      .lst-kix_6r4t08o7wtxr-0>li:before{
          
      }
      .lst-kix_nqt8apitp1f-3>li:before{
          
      }
      .lst-kix_5c2oc31gu39b-6>li{
          
      }
      .lst-kix_gtarf41jibja-2>li{
          
      }
      ol.lst-kix_iu7mdplu0a0z-2.start{
          
      }
      ol.lst-kix_hzt9je3xmr21-8.start{
          
      }
      .lst-kix_xa5bco3v44qw-1>li:before{
          
      }
      .lst-kix_ykiu40x3xyuh-4>li{
          
      }
      .lst-kix_iu7mdplu0a0z-0>li:before{
          
      }
      .lst-kix_kp35uv8jck87-5>li{
          
      }
      .lst-kix_q8ugnwew73pj-2>li:before{
          
      }
      ol.lst-kix_5c2oc31gu39b-2.start{
          
      }
      .lst-kix_pg09k491jegz-8>li{
          
      }
      ol.lst-kix_xa5bco3v44qw-6.start{
          
      }
      .lst-kix_ykiu40x3xyuh-3>li:before{
          
      }
      ol.lst-kix_iu7mdplu0a0z-1.start{
          
      }
      .lst-kix_iu7mdplu0a0z-4>li:before{
          
      }
      .lst-kix_iu7mdplu0a0z-8>li:before{
          
      }
      .lst-kix_q8ugnwew73pj-4>li{
          
      }
      .lst-kix_f8uehs1zffdj-6>li{
          
      }
      ol.lst-kix_kp35uv8jck87-0.start{
          
      }
      .lst-kix_6r4t08o7wtxr-3>li{
          
      }
      ol.lst-kix_hzt9je3xmr21-7.start{
          
      }
      .lst-kix_xa5bco3v44qw-5>li:before{
          
      }
      ol{
          margin:0;
          padding:0;

      }
     tr{
     	               	     	page-break-inside: avoid;

     }
     li{
     	     	page-break-inside: avoid;

     }
     p{
     	page-break-inside: avoid;
     }
     span{     	page-break-inside: avoid;
}
     tbody{
     	page-break-before: avoid;
     }
      .c28{
          border-right-style:solid;
          padding:7.1pt 7.1pt 7.1pt 7.1pt;
          border-bottom-color:#000000;
          border-top-width:1pt;
          border-right-width:1pt;
          border-left-color:#000000;
          vertical-align:top;
          border-right-color:#000000;
          border-left-width:1pt;
          border-top-style:solid;
          background-color:#ffffff;
          border-left-style:solid;
          border-bottom-width:1pt;
          width:283.5pt;
          border-top-color:#000000;
          border-bottom-style:solid
      }
      .c15{
          border-right-style:solid;
          padding:7.1pt 7.1pt 7.1pt 7.1pt;
          border-bottom-color:#000000;
          border-top-width:1pt;
          border-right-width:1pt;
          border-left-color:#000000;
          vertical-align:top;
          border-right-color:#000000;
          border-left-width:1pt;
          border-top-style:solid;
          background-color:#f2f2f2;
          border-left-style:solid;
          border-bottom-width:1pt;
          width:155.9pt;
          border-top-color:#000000;
          border-bottom-style:solid
      }
      .c33{
          border-right-style:solid;
          padding:7.1pt 7.1pt 7.1pt 7.1pt;
          border-bottom-color:#000000;
          border-top-width:1pt;
          border-right-width:1pt;
          border-left-color:#000000;
          vertical-align:top;
          border-right-color:#000000;
          border-left-width:1pt;
          border-top-style:solid;
          background-color:#ffffff;
          border-left-style:solid;
          border-bottom-width:1pt;
          width:287.4pt;
          border-top-color:#000000;
          border-bottom-style:solid
      }
      .c25{
          border-right-style:solid;
          padding:0pt 5.8pt 0pt 5.8pt;
          border-bottom-color:#000000;
          border-top-width:0pt;
          border-right-width:1pt;
          border-left-color:#000000;
          vertical-align:top;
          border-right-color:#000000;
          border-left-width:0pt;
          border-top-style:solid;
          border-left-style:solid;
          border-bottom-width:0pt;
          width:225.2pt;
          border-top-color:#000000;
          border-bottom-style:solid
      }
      .c37{
          border-right-style:solid;
          padding:0pt 5.8pt 0pt 5.8pt;
          border-bottom-color:#000000;
          border-top-width:0pt;
          border-right-width:0pt;
          border-left-color:#000000;
          vertical-align:top;
          border-right-color:#000000;
          border-left-width:0pt;
          border-top-style:solid;
          border-left-style:solid;
          border-bottom-width:0pt;
          width:198.4pt;
          border-top-color:#000000;
          border-bottom-style:solid
      }
      .c30{
          border-right-style:solid;
          padding:0pt 5.8pt 0pt 5.8pt;
          border-bottom-color:#000000;
          border-top-width:0pt;
          border-right-width:0pt;
          border-left-color:#000000;
          vertical-align:top;
          border-right-color:#000000;
          border-left-width:1pt;
          border-top-style:solid;
          border-left-style:solid;
          border-bottom-width:0pt;
          width:21.2pt;
          border-top-color:#000000;
          border-bottom-style:solid
      }
      .c50{
          margin-left:72pt;
          padding-top:12pt;
          text-indent:-72pt;
          padding-bottom:12pt;
          line-height:1.0;
          
          text-align:justify
      }
      .c7{
          color:#ff0000;
          font-weight:400;
          text-decoration:none;
          
          font-size:14pt;
          font-family:"Calibri";
          font-style:normal
      }
      .c6{
          margin-left:18pt;
          padding-top:24pt;
          padding-left: 0pt;
          padding-bottom:11pt;
          line-height:1.0;
          
          text-align:justify
      }
      .c2{
          color:#000000;
          font-weight:400;
          text-decoration:none;
          
          font-size:10pt;
          font-family:"Calibri";
          font-style:normal
      }
      .c11{
          margin-left:54pt;
          padding-top:12pt;
          padding-left: 0pt;
          padding-bottom:0pt;
          line-height:1.0;
          text-align:justify
      }
      .c20{
          color:#000000;
          text-decoration:none;
          
          font-size:12pt;
          font-family:"Calibri";
          font-style:italic
      }
      .c20.c5{

      }
      .c14{
          color:#000000;
          text-decoration:none;
          
          font-size:12pt;
          font-family:"Calibri";
          font-style:normal
      }
      .c10{
          margin-left:36pt;
          padding-top:12pt;
          text-indent:-36pt;
          padding-bottom:0pt;
          line-height:1.0;
          text-align:justify
      }
      .c53{
          margin-left:72pt;
          padding-top:0pt;
          text-indent:-72pt;
          padding-bottom:0pt;
          line-height:1.0;
          text-align:justify
      }
      .c35{
          padding-top:0pt;
          padding-bottom:0pt;
          line-height:1.15;
          orphans:2;
          widows:2;
          text-align:left
      }
      .c42{
          margin-left:90pt;
          padding-top:12pt;
          padding-left: 0pt;
          padding-bottom:0pt;
          line-height:1.0;
          text-align:justify
      }
      .c12{
          margin-left:18pt;
          padding-top:12pt;
          padding-left: 0pt;
          padding-bottom:0pt;
          line-height:1.0;
          text-align:justify
      }
      .c59{
          margin-left:18pt;
          padding-top:3pt;
          padding-bottom:4pt;
          line-height:1.0;
          text-align:left
      }
      .c46{
          padding-top:12pt;
          padding-bottom:3pt;
          line-height:1.0;
          
          text-align:left
      }
      .c3{
          padding-top:0pt;
          padding-bottom:0pt;
          line-height:1.0;
          text-align:left;
          height:11pt
      }
      .c24{
          padding-top:12pt;
          padding-bottom:3pt;
          line-height:1.0;
          
          text-align:justify
      }
      .c19{
          color:#000000;
          text-decoration:none;
          
          font-family:"Calibri";
          font-style:normal
      }
      .c58{
          color:#000000;
          text-decoration:none;
          
          font-family:"Calibri";
          font-style:normal
      }
      .c40{
          padding-top:18pt;
          padding-bottom:12pt;
          line-height:1.0;
          
          text-align:justify
      }
      .c0{
          margin-left:18pt;
          padding-top:3pt;
          padding-bottom:0pt;
          line-height:1.0;
          text-align:left
      }
      .c9{
          margin-left:2.2pt;
          padding-top:0pt;
          padding-bottom:6pt;
          line-height:1.0;
          text-align:left
      }
      .c44{
          color:#000000;
          text-decoration:none;
          
          font-size:14pt;
          font-family:"Calibri"
      }
      .c48{
          padding-top:262pt;
          padding-bottom:0pt;
          line-height:1.0;
          text-align:right
      }
      .c31{
          padding-top:0pt;
          padding-bottom:0pt;
          line-height:1.0;
          text-align:left
      }
      .c43{
          padding-top:10pt;
          padding-bottom:0pt;
          line-height:1.0;
          text-align:left
      }
      .c61{
          margin-left:0pt;
          border-spacing:0;
          border-collapse:collapse;
          margin-right:auto
      }
      .c60{
          padding-top:4pt;
          padding-bottom:0pt;
          line-height:1.0;
          text-align:left
      }
      .c18{
          margin-left:0;
          border-spacing:0;
          border-collapse:collapse;
          margin-right:auto
      }
      .c16{
          padding-top:0pt;
          padding-bottom:6pt;
          line-height:1.0;
          text-align:left
      }
      .c47{
          padding-top:0pt;
          padding-bottom:0pt;
          line-height:1.0;
          text-align:right
      }
      .c45{
          padding-top:0pt;
          padding-bottom:0pt;
          line-height:1.15;
          text-align:left
      }
      .c55{
          padding-top:0pt;
          padding-bottom:0pt;
          line-height:1.0;
          text-align:center
      }
      .c27{
          background-color:#ffffff;
          max-width:468pt;
          padding:72pt 72pt 72pt 72pt
      }
      .c1{
          color:inherit;
          text-decoration:inherit
      }
      .c22{
          margin-left:18pt;
          padding-left:3.2pt
      }
      .c29{
          
      }
      .c23{
          margin-left:60.5pt;
          padding-left:24.5pt
      }
      .c52{
          margin-left:42.5pt;
          text-indent:-42.5pt
      }
      .c41{
          margin-left:36pt;
          text-indent:-36pt
      }
      .c17{
          padding:0;
          margin:0
      }
      .c54{
          margin-left:85pt;
          text-indent:-42.5pt
      }
      .c57{
          font-size:12pt
      }
      .c21{
          font-size:22pt
      }
      .c39{
          font-size:26pt
      }
      .c5{
          font-weight:700
      }
      .c4{
          font-size:10pt
      }
      .c32{
          height:22pt
      }
      .c38{
          height:11pt
      }
      .c36{
          font-size:16pt
      }
      .c13{
          height:55pt
      }
      .c56{
          height:20pt
      }
      .c49{
          height:51pt
      }
      .c26{
          font-style:italic
      }
      .c8{
          height:0pt
      }
      .c51{
          font-weight:400
      }
      
      .title{
          padding-top:0pt;
          color:#000000;
          font-size:26pt;
          padding-bottom:3pt;
          font-family:"Calibri";
          line-height:1.15;
          
          orphans:2;
          widows:2;
          text-align:left
      }
      .subtitle{
          padding-top:0pt;
          color:#666666;
          font-size:15pt;
          padding-bottom:16pt;
          font-family:"Calibri";
          line-height:1.15;
          
          orphans:2;
          widows:2;
          text-align:left
      }
      li{
          color:#000000;
          font-size:11pt;
          font-family:"Calibri"
      }
      p{
          margin:0;
          color:#000000;
          font-size:11pt;
          font-family:"Calibri"
      }
      h1{
          padding-top:20pt;
          color:#000000;
          font-size:20pt;
          padding-bottom:6pt;
          font-family:"Calibri";
          line-height:1.15;
          
          orphans:2;
          widows:2;
          text-align:left
      }
      h2{
          padding-top:18pt;
          color:#000000;
          font-size:16pt;
          padding-bottom:6pt;
          font-family:"Calibri";
          line-height:1.15;
          
          orphans:2;
          widows:2;
          text-align:left
      }
      h3{
          padding-top:16pt;
          color:#434343;
          font-size:14pt;
          padding-bottom:4pt;
          font-family:"Calibri";
          line-height:1.15;
          
          orphans:2;
          widows:2;
          text-align:left
      }
    
      h5{
          padding-top:12pt;
          color:#666666;
          font-size:11pt;
          padding-bottom:4pt;
          font-family:"Calibri";
          line-height:1.15;
          
          orphans:2;
          widows:2;
          text-align:left
      }
      h6{
          padding-top:12pt;
          color:#666666;
          font-size:11pt;
          padding-bottom:4pt;
          font-family:"Calibri";
          line-height:1.15;
          
          font-style:italic;
          orphans:2;
          widows:2;
          text-align:left
      }
      







      

.x51{
    border-right-style:solid;
    padding:0pt 5.8pt 0pt 5.8pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:top;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:11.1pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x60{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:65.3pt;
    border-top-color:#bfbfbf;
    border-bottom-style:solid
}
.x45{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1.5pt;
    width:65.3pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x46{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:193.4pt;
    border-top-color:#bfbfbf;
    border-bottom-style:solid
}
.x22{
    border-right-style:solid;
    padding:1.4pt 0pt 1.4pt 0pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:69.2pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x23{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#bfbfbf;
    border-top-width:1.5pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:123pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x57{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:91.6pt;
    border-top-color:#bfbfbf;
    border-bottom-style:solid
}
.x48{
    border-right-style:solid;
    padding:0pt 5.8pt 0pt 5.8pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:top;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:478.8pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x49{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#bfbfbf;
    border-top-width:1.5pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:69.2pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x9{
    border-right-style:solid;
    padding:0pt 5.8pt 0pt 5.8pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:top;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:150.8pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x59{
    border-right-style:solid;
    padding:0pt 5.8pt 0pt 5.8pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:top;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:209.8pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x39{
    border-right-style:solid;
    padding:1.4pt 0pt 1.4pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:69.2pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x13{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:65.3pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x28{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#bfbfbf;
    border-top-width:1.5pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:91.6pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x27{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:69.2pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x44{
    border-right-style:solid;
    padding:1.4pt 0pt 1.4pt 0pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:91.6pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x20{
    border-right-style:solid;
    padding:1.4pt 0pt 1.4pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:193.4pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x21{
    border-right-style:solid;
    padding:1.4pt 0pt 1.4pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:91.6pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x47{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:91.6pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x30{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1.5pt;
    width:123pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x36{
    border-right-style:solid;
    padding:0pt 5.8pt 0pt 5.8pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:top;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:118.2pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x61{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1.5pt;
    width:91.6pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x54{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:55.1pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x25{
    border-right-style:solid;
    padding:1.4pt 0pt 1.4pt 0pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:55.1pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x33{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:193.4pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x24{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:69.2pt;
    border-top-color:#bfbfbf;
    border-bottom-style:solid
}
.x40{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1.5pt;
    width:55.1pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x4{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:188.3pt;
    border-top-color:#bfbfbf;
    border-bottom-style:solid
}
.x41{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:55.1pt;
    border-top-color:#bfbfbf;
    border-bottom-style:solid
}
.x3{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1.5pt;
    width:69.2pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x19{
    border-right-style:solid;
    padding:0pt 5.8pt 0pt 5.8pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:top;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:198.7pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x43{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#bfbfbf;
    border-top-width:1.5pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:55.1pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x34{
    border-right-style:solid;
    padding:1.4pt 0pt 1.4pt 0pt;
    border-bottom-color:#000000;
    border-top-width:1pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:55.1pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x52{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#bfbfbf;
    border-top-width:1.5pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:65.3pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x50{
    border-right-style:solid;
    padding:2.9pt 0pt 2.9pt 0pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:0pt;
    width:123pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x58{
    border-right-style:solid;
    padding:1.4pt 0pt 1.4pt 0pt;
    border-bottom-color:#000000;
    border-top-width:0pt;
    border-right-width:0pt;
    border-left-color:#000000;
    vertical-align:middle;
    border-right-color:#000000;
    border-left-width:0pt;
    border-top-style:solid;
    border-left-style:solid;
    border-bottom-width:1pt;
    width:193.4pt;
    border-top-color:#000000;
    border-bottom-style:solid
}
.x56{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Calibri";
    font-style:normal
}
.x12{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:22pt;
    font-family:"Calibri";
    font-style:normal
}
.x16{
    color:#000000;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:9pt;
    font-family:"Calibri";
    font-style:normal
}
.x2{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:9pt;
    font-family:"Calibri";
    font-style:italic
}
.x0{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:9pt;
    font-family:"Calibri";
    font-style:normal
}
.x55{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:7pt;
    font-family:"Calibri";
    font-style:normal
}
.x1{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:right;
    margin-right:-5.4pt;
    height:9pt
}
.x5{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    page-break-after:avoid;
    text-align:right
}
.x8{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:left;
    
    margin-top:30px;
}
.x15{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.15;
    text-align:left
}
.x38{
    border-spacing:0;
    border-collapse:collapse;
    margin-right:auto
}
.x42{
    padding-top:0pt;
    padding-bottom:10pt;
    line-height:1.1500000000000001;
    text-align:left
}
.x18{
    padding-top:0pt;
    padding-bottom:28.4pt;
    line-height:1.1500000000000001;
    text-align:left
}
.x29{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:center
}
.x10{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:left
}
.x32{
    margin-left:-5.8pt;
    border-spacing:0;
    border-collapse:collapse;
    margin-right:auto
}
.x6{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    text-align:right
}
.x31{
    background-color:#ffffff;
    max-width:468pt;
    padding:42.5pt 72pt 49.6pt 72pt
}
.x53{
    margin-left:-13.5pt;
    text-indent:-9pt;
    margin-right:-4.5pt
}
.x7{
    height:0pt
}
.x35{
    height:42pt
}
.x11{
    height:9pt
}
.x14{
    height:22pt
}
.x26{
    height:1pt
}
.x37{
    font-weight:700
}
.x17{
    height:35pt
}
.title{
    padding-top:24pt;
    color:#000000;
    font-weight:700;
    font-size:36pt;
    padding-bottom:6pt;
    font-family:"Calibri";
    line-height:1.1500000000000001;
    page-break-after:avoid;
    text-align:left
}
.subtitle{
    padding-top:18pt;
    color:#666666;
    font-size:24pt;
    padding-bottom:4pt;
    font-family:"Georgia";
    line-height:1.1500000000000001;
    page-break-after:avoid;
    font-style:italic;
    text-align:left
}
li{
    color:#000000;
    font-size:9pt;
    font-family:"Calibri"
}
p{
    margin:0;
    color:#000000;
    font-size:9pt;
    font-family:"Calibri"
}
h1{
    padding-top:24pt;
    color:#000000;
    font-weight:700;
    font-size:24pt;
    padding-bottom:6pt;
    font-family:"Calibri";
    line-height:1.1500000000000001;
    page-break-after:avoid;
    text-align:left
}
h2{
    padding-top:18pt;
    color:#000000;
    font-weight:700;
    font-size:18pt;
    padding-bottom:4pt;
    font-family:"Calibri";
    line-height:1.1500000000000001;
    page-break-after:avoid;
    text-align:left
}
h3{
    padding-top:14pt;
    color:#000000;
    font-weight:700;
    font-size:14pt;
    padding-bottom:4pt;
    font-family:"Calibri";
    line-height:1.1500000000000001;
    page-break-after:avoid;
    text-align:left
}

h5{
    padding-top:11pt;
    color:#000000;
    font-weight:700;
    font-size:11pt;
    padding-bottom:2pt;
    font-family:"Calibri";
    line-height:1.1500000000000001;
    page-break-after:avoid;
    text-align:left
}
h6{
    padding-top:10pt;
    color:#000000;
    font-weight:700;
    font-size:10pt;
    padding-bottom:2pt;
    font-family:"Calibri";
    line-height:1.1500000000000001;
    page-break-after:avoid;
    text-align:left
}

.searchformd{
   margin-bottom: 0px!important;
 }
 .errspan {
   float: right;
   margin-right: 6px;
   margin-top: -25px;
   position: relative;
   z-index: 2;
   font-size:16px;
   cursor: pointer;
 }
 .searchinput{
   height: 34px;
 }
 .mb-20 {
   margin-bottom: 20px;
 }