.float-left{
	float:left;
}
.analytic-google-map-div-container {
	margin-bottom:15px;
}
.analytic-google-map-div {
	width:100%;
	height:350px;
	border:1px solid #ced4da;
	border-radius: 5px;
}
#address-radius-input {
	flex: 00 100%;
	border-radius:.25rem;
}