.jugglr-profile-img-static{
  width: 120px;
  height: 120px;
  margin: auto;
  border: 2px solid #2A3E54;
}
.circle-img-backgrounddd{
  width: 134px;
  height: 134px;
  margin: auto;
  padding: 2px;
  border: 2px solid #2A3E54;
  border-radius: 0;
}
.card-text.price{
  font-size: 16px;
}
.card-text.name{
  font-size: 20px;
}
.card-text.type{
  font-size: 14px;

}
.card-text.discription{
font-size: 12px;
}
.card{
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}
.card p{
  line-height: 1.3em; /* 1em = 12px in this case. 20/12 == 1.666666  */

}
.xd{
  width: 23%!important;
  margin: 5px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 960px) {
  .xd{
    width: 30%!important;
    margin: 5px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 560px) {
  .xd{
    width: 45%!important;
    margin: 5px;
    margin-bottom: 5px;
  }
}
