<div class="container addjob-container col-lg-12 col-sm-12">
  <div class="row">
    <div class="col-sm-10 order-1 order-md-0 order-sm-1 offset-sm-1 col-md-6 offset-md-0 h-75 chatprofilelist">
      <div id="needscroll" class="card itemcardj w-100  shadow  bg-white rounded">
        <div class="card-body " style="  overflow-y: scroll;        ">
          <div class="  border-1 border-bottom border-top w-100" *ngIf="chatprofiles.length==0">

            <div class="row justify-content-center" >
              <div class="col-10" style="padding-left:10px;padding-right:10px;" >
                  <br><br>

                  In this section you will find all your chats with other Jugglr users.
                  <br><br><br>

              </div>
              <div class="col-12 justify-content-center">

              <div (click)="hiretalent()" class="btn jugglr-tagx-main">Hire Talent</div>
              </div>
              <div class="col-12 justify-content-center">
                <br>
              <div (click)="addgig()" class="btn jugglr-tagx-new">Post Gig</div>
              <br>
              <br>
              <br>

            </div>
            </div>
          </div>
          <div class="btn btn-light  border-1 border-bottom border-top w-100" *ngFor="let item of chatprofiles">

            <div class="row " (click)="select(item.id)">
              <div class="col-4 text-center imgcoll">
                <img (click)="goprofile(item.id)" [src]="item.pic" alt="Random second slide" onerror="this.src='../../../assets/defaultprofile.png';"
                  class="rounded-circlex jugglr-profile-img">
                <span class="jugglr-tag-new" *ngIf="item.nbnew>0">{{item.nbnew}}</span>
              </div>
              <div class="col-8 detailcol2 textoll">
                {{item.name}}
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-10 order-0 order-md-1 order-sm-0 offset-sm-1  col-md-6 offset-md-0 h-75" *ngIf="selectedid!=0">
      <div id="needscroll" class="card itemcardj w-100  shadow  bg-white rounded">
        <div class="card-header row">
          <button class="btn btn-link backbtn" (click)="goBack()"><i class="fas fa-arrow-left"></i></button>
          <div class="jobdetailtitle col-10">
            {{chatlist.get(selectedid+'').name}}
          </div>
        </div>
        <div class="card-body ">
          <div class="messaging" style="padding-bottom: 10px;">
            <div class="inbox_msg">
              <div class="mesgs">
                <div class="msg_history" #chatHistory [scrollTop]="chatHistory.scrollHeight" style="height: calc(100vh - 322px);">
                  <div class="" *ngFor="let comment of chatlist.get(selectedid+'').messages">

                    <div class=" card-deck incoming_msg border-light border-bottom" *ngIf="comment.mSenderUserId==selectedid">
                      <div class="incoming_msg_img"><img (click)="goprofile(comment.mSenderUserId)" [src]="comment.senderAvtarUrl"
                          class="rounded-circlex"></div>
                      <div class="received_msg">
                        <div class="received_withd_msg">
                          <p><strong>{{comment.senderName}} :</strong> <span [innerHTML]="parseChatMessage(comment.message)"></span></p>
                          <div *ngIf="comment.attachmentServerImagePath!=''">
                           <a href="https://s3-ap-southeast-2.amazonaws.com/jugglrmobileimage/{{comment.attachmentServerImagePath}}" target="_blank">
                            <img *ngIf="isImageFile(comment.attachmentServerImagePath)" src="https://s3-ap-southeast-2.amazonaws.com/jugglrmobileimage/{{comment.attachmentServerImagePath}}" />
                            <img *ngIf="!isImageFile(comment.attachmentServerImagePath)" src="assets/doc.jpg" />
                            <span style="font-size: 12px;font-weight: bold;">{{comment.attachmentServerImagePath}}</span>
                           </a>
                          </div>
                          <span class="time_date">{{timeSince(comment.timeStamp)}}</span>
                        </div>
                      </div>
                    </div>

                    <div class="border-light border-bottom outgoing_msg" *ngIf="comment.mReceiverId==selectedid">
                      <div class="sent_msg">
                        <p *ngIf="comment.message != ''"><strong></strong> <span [innerHTML]="parseChatMessage(comment.message)"></span></p>
                        <div *ngIf="comment.attachmentServerImagePath!=''">
                          <a href="https://s3-ap-southeast-2.amazonaws.com/jugglrmobileimage/{{comment.attachmentServerImagePath}}"  target="_blank">
                           <img *ngIf="isImageFile(comment.attachmentServerImagePath)" src="https://s3-ap-southeast-2.amazonaws.com/jugglrmobileimage/{{comment.attachmentServerImagePath}}" onerror="javascript:this.src='assets/doc.jpg'" />
                           <img *ngIf="!isImageFile(comment.attachmentServerImagePath)" src="assets/doc.jpg" />
                           <span style="font-size: 12px;font-weight: bold;">{{comment.attachmentServerImagePath}}</span>
                          </a>
                        </div>
                        <span class="time_date">{{timeSince(comment.timeStamp)}}</span>
                      </div>

                    </div>

                  </div>


                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="card-footer">
          <div class="type_msg">
            <div class="input_msg_write" style="text-align: left;">

              <textarea type="text" class="write_msg" multiline="true" placeholder="Type your message" [(ngModel)]="messagetype"></textarea>
              <div class="spinner-gray" *ngIf="sendingChatMessage">&nbsp;</div>
              <div *ngIf="selectedFiles" style="text-align: left;"><i class="fa fa-paperclip"></i> {{selectedFiles.name}}</div>
              <div *ngIf="selectedFilesError != ''" style="font-size: 13px;font-weight: bold;padding: 5px;color: red;">{{selectedFilesError}}</div>
              <button class="msg_send_btn" type="button" [disabled]="sendingChatMessage" (click)="sendmessage()" style="top:0;"><i class="far fa-paper-plane"></i></button>
            </div>
            <div>
               <input hidden type="file" #uploader (change)="selectAttachmentFile($event)" >
               <button class="msg_send_btn" (click)="uploader.click()" [disabled]="sendingChatMessage" type="button" style="right: 0;top: 34px"><i class="fa fa-paperclip"></i></button>
            </div>   
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>