<div class="container addjob-container">
  <div class="row justify-content-center">



    <form (ngSubmit)="startregistred()" ngNativeValidate class="form addjobform text-left col-lg-6 col-sm-8">

      <div class="form-group " required>
        <label>Business name *</label>
        <div class="input-group mb-3">
          <input type="text" [(ngModel)]="user.firstname" name="Businessname" class="form-control" placeholder="Enter your business name"
            required>
        </div>
      </div>
      <div class="form-group " required>
        <label>Business logo *</label>
        <div class="input-group mb-3">
            
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" type="file" (change)="uploadFile($event)">
                <label class="custom-file-label" for="inputGroupFile03">Choose your logo</label>
              </div>
          <div class="progress progressj w-100" *ngIf="loadinxg">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style=" width:100%" aria-valuenow=""
              aria-valuemin="0" aria-valuemax="100">{{ uploadPercent | async |number : '1.2-2'}}%</div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label>Business website *</label>
        <div class="input-group mb-3">
          <input type="text" [(ngModel)]="user.webaddress" name="Businesswebsite" class="form-control" placeholder="e.g. www.yourwebsite.com"
            required>
        </div>
      </div>
      <div class="form-group">
        <label>Business phone number *</label>
        <div class="input-group mb-3">
          <input type="text" required [(ngModel)]="user.phone" name="Businessphone" class="form-control" placeholder="e.g. 0415123456 or 0898765432">
        </div>
      </div>
      <div class="form-group">
        <label>Business address *</label>
        <div class="input-group mb-3">
          <input ngx-google-places-autocomplete [options]="options" [(ngModel)]="user.address" name="Businessaddress"
            id="address-input" class="form-control" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)"
            placeholder="Enter your business address" required />
        </div>
      </div>
      <div class="form-group">
        <label>Contact us link</label>
        <div class="input-group mb-3">
          <input type="text" [(ngModel)]="user.contactus" name="Businesspage" class="form-control" placeholder="e.g. facebook page link">
        </div>
      </div>
      <div class="form-group">
        <label>Business description</label>
        <div class="input-group mb-3">
          <textarea [(ngModel)]="user.about_me" name="Businessbio" class="form-control" placeholder="Short description of your business (max 300 characters)"></textarea>
        </div>
      </div>
      <!--<div class="form-group">
          <label>Business profile image</label>
          <div class="input-group mb-3">
            <input type="text" [(ngModel)]="user.profile_image_thumb" name="Businesspic" class="form-control" placeholder="link to the profile pics">
          </div>
        </div>-->


      <div class="col justify-content-center text-center">
        <div class="btn-postjob">
          <input type="submit" value="Update Profile" class="btn  jugglr-btn-next">
        </div>
        <div class="loader" *ngIf="loading"></div>
        <div class="text-center" style="color: red" *ngIf="message!=null">{{message}}</div>

      </div>

    </form>
  </div>
</div>