<div class="addjob-container col-lg-8 col-sm-12">
  <div class="row">
    <div class="nav nav-tabs navtabnopadding col-7 jugglrvan markettopmenu">
        <a id="a2" class="btn nav-link active" (click)="need()">Hire Talent</a>
        <a id="a1" class="btn nav-link" (click)="offer()">Find Gigs</a>
        <a id="a3" class="btn  nav-link" (click)="mine()">My Gigs</a>
        <a id="a4" class="btn  nav-link" (click)="professionals()">Professionals</a>
    </div>
    <div class="nav nav-tabs navtabnopadding col-5 jugglrvan justify-content-end">
      <li class="nav-item nav-item-search order-md-2 order-2">
         <form class=" searchformd " (submit)="changesearch()">
            <input class="form-control searchinput" type="text" [ngbTypeahead]="search" [focusFirst]=false [resultFormatter]="formatter" [inputFormatter]="inputformatter" [(ngModel)]="autotextsearch" name="textsearch" placeholder="Search" aria-label="Search">
            <span class="fa {{textsearchicon}} errspan" (click)="clearsearch(this)"></span>
          </form>
      </li>
      <li ngbDropdown class=" nav-item order-md-1 order-1">
        <button class="btn nav-link" id="dropdownBasic1" ngbDropdownToggle><i class="fa fa-filter"></i></button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button class="dropdown-item " *ngFor="let filteritem of filter" (click)="setfilter( filteritem['id'])">
            {{filteritem['name']}}
          </button>
        </div>
      </li>
    </div>
  </div>


  <div class="tab-pane" infiniteScroll [infiniteScrollDistance]="0.8" [infiniteScrollThrottle]="1000" (scrolled)="onPageScroll()" [scrollWindow]="true" [fromRoot]="true">
    
    <div class="row itemrow">
      <div *ngIf="this.blnSearched">
         <div *ngFor="let itemx of valuesearch_users">
            <div (click)="lookfor(itemx)" class="card-title-help">
               <span  class="servicesearched">{{itemx.searchtext}}</span> professionals
               available near you
            </div>
            <div class="card itemcardj w-100 shadow  bg-white rounded itemcardjhelp">
               <div class="card-body cardbody-help">
                <div class="btn col- col-help text-center clickableitem" *ngFor="let userx of itemx['users']">
                    <img (click)="goUserDetail(userx.user_id)" [src]="userx.profile_image" onerror="this.src='../../../assets/defaultprofile.png';"
                      class="rounded-circlex img-fluid jugglr-profile-img-help">
                    <div class="justify-content-center texthelpmumname" (click)="goUserDetail(userx.user_id)">
                      {{userx.name}}
                    </div>
                </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div *ngIf="type==-1">
      <div class="row itemrow" *ngFor="let xuser of userProfessional; let i = index">
         <div class="card itemcardj w-100 shadow  bg-white rounded">
            <div class="row m-0">
               <div class="d-none d-md-flex coldateandchek align-middle coldate align-middle ">
                  <div class="coldatecontentcheck mx-auto my-auto">
                     <img (click)="goUserDetail(xuser.user_id)" [src]="xuser.profile_image" 
                     onerror="this.src='../../../assets/defaultprofile.png';" class="rounded-circlex jugglr-profile-img jugglr-profile-imguserswithskill">
                  </div>
               </div>
               <div class="col tododetail">
                  <div class="row w-100 usernamerow" >
                     <h5 (click)="goUserDetail(xuser.user_id)">{{xuser.name}} </h5>
                  </div>
                  <div class="row d-inline-flex rowserviceoffered justify-content-center" >
                     <div class="" *ngFor="let ser of xuser['subservice_offered']">
                        <small class=" subserviceoffer">{{ser['subservice_name']}}</small>
                     </div>                  
                  </div>
                  <div class="row w-100 rowtexttodo justify-content-left float-left" >
                     <div class="marketplaceratingandlikes col-9  float-left">
                        <div class="marketplaceratingandlikesitem float-left align-bottom" style="  border-right: 0px;">
                              <small>< {{xuser.distance}} Km &nbsp;&nbsp;<i class="fas fa-map-marker-alt"></i>&nbsp; {{xuser.suburb}}</small>
                        </div>
                     </div>
                     <div class="col-3">
                        <li class="fas fa-2x fa-users likebtn float-right" *ngIf="!xuser.is_shortlist" (click)="shortlist(xuser,i)"></li>
                        <li class="fas fa-2x fa-users likebtn active float-right" *ngIf="xuser.is_shortlist" (click)="shortlist(xuser,i)"></li>
                     </div>
                  </div>
               </div>
            </div>
         </div>   
      </div>   
   </div>   
  <div *ngIf="type!=-1">
   <div class="row itemrow" *ngFor="let job of jobs; let i = index" >
      <div class="card itemcardj w-100 shadow  bg-white rounded">
        <div class="card-body ">
          <div class="row parentrow">
            <div class="imagesection text-center">
              <img (click)="goUserDetail(job.user_id)" [src]="job.user_image" alt="Random second slide"
                  onerror="this.src='../../../assets/defaultprofile.png';" class="rounded-circlex jugglr-profile-img">
                <div class="  justify-content-center" *ngIf="job.fb_mutual_cnt!=0">
                <p class="fab fa-facebook-square w-100 small nbmutualfriend"><span class="mutualfriendsspan">
                  share {{job.fb_mutual_cnt}} mutual friends
                </span> </p>
              </div>
            </div>
            <div class=" detailcol2 ">
              
              <div class="row">
                <div class="btn marketplacepinktitle " (click)="goDetail(job.job_id)">{{ job.customservice}}</div>
              </div>
              <div class="row">
                <div class="marketplaceprice">$ {{ job.amount}}</div>
              </div>
              <div class="row">
                <div class="marketplacepostby">
                  Posted by {{ job.user_name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{timeSince(job.createdAt*1000)}}
                </div>
              </div>
              <div class="row rowaddfav">

                <div class="marketplaceratingandlikes col-9">
                  <div class="marketplaceratingandlikesitem">
                    {{job.total_rating}}&nbsp;&nbsp;&nbsp;<ngb-rating [rate]="job.star_rating"></ngb-rating>
                  </div>
                  <div class="marketplaceratingandlikesitem">
                    {{job.total_rating}}&nbsp;&nbsp;&nbsp;<li class="far fa-heart"></li>
                  </div>
                  <div class="marketplaceratingandlikesitem" style="  border-right: 0px;">
                    < {{job.distance}} Km &nbsp;&nbsp;<i class="fas fa-map-marker-alt"></i>
                  </div>

                </div>
                <div class="col-3">
                  <li class="fas fa-2x fa-heart likebtn float-right" *ngIf="!job.is_savedjob" (click)="savejob(job.job_id,i)"></li>
                  <li class="fas fa-2x fa-heart likebtn active float-right" *ngIf="job.is_savedjob" (click)="savejob(job.job_id,i)"></li>

                </div>
              </div>

            </div>
          </div>
        </div> 
      </div>
     
      <div *ngIf="type==1 && this.blnSearched != true">
        <div *ngIf="moreusers(i) ">
          <div (click)="lookfor(valuesearch[(i / 3) - (( i % 3 ) / 3)])" class="card-title-help">
            <span  class="servicesearched">{{valuesearch[(i / 3) - (( i % 3 ) / 3)].searchtext}}</span> professionals
            available near you
          </div>
          <div class="card itemcardj w-100 shadow  bg-white rounded itemcardjhelp">
            <div class="card-body cardbody-help">
              <div class="btn col- col-help text-center clickableitem" *ngFor="let itemx of valuesearch[(i / 3) - (( i % 3 ) / 3)]['users']">
                <img (click)="goUserDetail(itemx.user_id)" [src]="itemx.profile_image" onerror="this.src='../../../assets/defaultprofile.png';"
                  class="rounded-circlex img-fluid jugglr-profile-img-help">
                <div class="justify-content-center texthelpmumname" (click)="goUserDetail(itemx.user_id)">
                  {{itemx.name}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="type==0 && this.blnSearched != true">
        <div *ngIf="morebusinesesusers(i) && !mygig">
          <div class="card-title-help">
            <span class="servicesearched nounderline"></span> Businesses near you
          </div>
          <div class="card itemcardj w-100 shadow  bg-white rounded itemcardjhelp">
            <div class="card-body cardbody-help"  >
              <div >
                  <div class="btn col- col-help text-center clickableitem" *ngFor="let itemx of businessarroundfragment(((i / 3)- (( i % 3 ) / 3)));let j=index">
                      <div >
                        <img (click)="goUserDetail(itemx.user_id)" [src]="itemx.profile_image" onerror="this.src='../../../assets/defaultprofile.png';"
                          class="rounded-circlex img-fluid jugglr-profile-img-help">
                        <div class="justify-content-center texthelpmumname" (click)="goUserDetail(itemx.user_id)">
                          {{itemx.name}}
                        </div>
                      </div>
                    </div>
               </div>
             </div>
          </div>
        </div>
      </div>
    </div>  
   </div>
  
</div>
     