
<div class="container addjob-container">
    <div class="alert alert-info jugglralert" *ngIf="showmessage " role="alert">
        {{alertmesssage}}
    </div>
    <div class="row" >
      <div class="nav nav-tabs navtabnopadding col-12 col-md-6 jugglrvan justify-content-end mb-20" >
         <li class="nav-item nav-item-search order-md-2 order-2">
            <form class=" searchformd " (submit)="changesearch()">
               <input type="text" class="form-control searchinput" name="textsearch" placeholder="Search" aria-label="Search"
               [(ngModel)]="searchbox" [inputFormatter]="inputformatter" [resultFormatter]="formatter" [ngbTypeahead]="search" [editable]="false"
               (selectItem)="selectedItem($event)" >  
               <!-- (blur)="blurSearch()"    -->
               <span class="fa fa-search errspan" *ngIf="!this.blnSearched" (click)="changesearch()"></span>
               <span class="fa fa-times-circle errspan" *ngIf="this.blnSearched" (click)="clearSearch()"></span>
               
            </form>
         </li>
      </div>
   </div>
       
    <div class="tab-pane h-75 col-12 col-md-6" *ngIf="marketplacejobs.length==0">
        <div class="col-12 tododetail">
        <div class="row justify-content-center" >
            <br><br>
            Hire talent in Jugglr and manage your gigs from here. This include reviewing and updating gig status, rate service providers, and pay for services received.
            <br><br><br>
            <div (click)="hiretalent()" class="btn jugglr-tagx-main">HIRE TALENT</div>
          </div>
          <div class="col-12 justify-content-center">
            <br>
          <div (click)="addgig()" class="btn jugglr-tagx-new">Post Gig</div>
          </div>
          </div>
    </div>
    
  <div class="tab-pane h-75 col-12 col-md-6" infiniteScroll [infiniteScrollDistance]="0.8" [infiniteScrollThrottle]="1000" (scrolled)="onPageScroll()" [scrollWindow]="true" [fromRoot]="true">
    <div class="row" *ngFor="let job of marketplacejobs; let i = index">

      <div class="card itemcardj w-100 shadow  bg-white rounded">
          <div class="row m-0 ">
            <div class="d-none d-md-flex coldateandchek align-middle coldate align-middle "*ngIf="job.tab">
              <div class="coldatecontentcheck mx-auto my-auto">
                <i class="far fa-2x fa-check-circle"></i>
              </div>
            </div>
            <div class="d-none d-md-flex coldateandchek align-middle coldate align-middle "*ngIf="!job.tab">
                <div class="coldatecontentcheck align-middle">
                  <h5>{{job.datetime | date: 'dd'}}</h5>
                  <small>{{job.datetime | date: 'MMMM'}}</small>
                </div>
              </div>
            <div class="col tododetail">
             

              <div class=" texttodo justify-content-left float-left" *ngIf="job.type=='need' && !job.tab">
                {{job.userwithname}} is helping you with {{job.subservices}}
              
              </div>

              
              <div class=" texttodo justify-content-left float-left" *ngIf="job.type=='offer' && !job.tab">
                you are helping {{job.userwithname}} with {{job.subservices}} ${{job.amount}}
              </div>
              <div class=" texttodo justify-content-left float-left" *ngIf="job.tab ">
                  {{job.userwithname}} helped you with {{job.subservices}} for ${{job.amount}} in return
                </div>
                <div class="col-12 actionzone ">
                        <div (click)="postsetoffercomplete(job)"  *ngIf="!job.is_completed && job.is_accepted && job.type=='need'" class="btn jugglr-btn-main marginright15">CONFIRM COMPLETE</div>
                        <div (click)="open(content,job)" *ngIf="job.is_completed && job.is_accepted && !job.is_rated &&job.type=='need'" class="btn jugglr-btn-main marginright15">COMPLETE RATING</div>
                        <div (click)="reviewoffer(content2,job)" *ngIf="!job.i_made_offer && !job.is_accepted && !job.is_rated &&job.type=='need'" class="btn jugglr-btn-main marginright15">REVIEW GIG</div>

                   
                        <div (click)="reviewdetail(content3,job)" class="btn jugglr-btn-main">View Gig</div>

                  

                  </div>

            </div>

          </div>
        </div>
    </div>
    
  </div>
</div>


<ng-template #content let-modal>
    <div class="modal-header">
        Please rate your experience with {{selectedjobforRating.userwithname}}
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row justify-content-center text-center" >
        <div class="col-10 ">
          <p>{{selectedjobforRating.userwithname}} helped you with {{selectedjobforRating.subservices}}.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <button (click)="addtransactionfeedback('1')"  class="btn jugglr-btn-next btnpositive">Positive</button>
        <button (click)="addtransactionfeedback('2')" class="btn jugglr-btn-next btnneutral">Neutral</button>
        <button (click)="addtransactionfeedback('3')" class="btn jugglr-btn-next btnnegativ">Negative</button>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>


<ng-template #content2 let-modal>
    <div class="modal-header">
        Gig Summary 
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row justify-content-center text-center" >
        <div class="col-10  ">
          <div class="row transactiondetail">
            <div class="col-3">
                <img (click)="goUserDetail(transactiondtail.user_id)" [src]="transactiondtail.user_image" alt="Random second slide"
                onerror="this.src='../../../assets/defaultprofile.png';" class="rounded-circlex jugglr-profile-img">
            </div>
            <div class="col-9 transactiondetailcol2 ">
              <div class="row">{{transactiondtail.user_name}} will help you with {{transactiondtail.offer_customservice}}</div>
              
            </div>
            <div class="col-12 transactiondetailrow"><span>When: </span>{{transactiondtail.offer_datetime| date: 'dd MMMM yyyy'}}</div>
            <div class="col-12 transactiondetailrow"><span>Time: </span>{{transactiondtail.offer_datetime| date: 'HH:mm'}}</div>
            <div class="col-12 transactiondetailrow"><span>Location: </span>{{transactiondtail.offer_location}}</div>
            <div class="col-12 transactiondetailrow"><span>Note: </span>{{transactiondtail.offer_note}}</div>

          </div> 
          <div class="row ">
              
              <div class="col-12 transactiondetailinexchange ">
                <div class="">In exchange of {{transactiondtail.need_customservice}} ${{transactiondtail.amount}}</div>
                
              </div>
              
              <div class="col-12 transactiondetailrow"><span>Note: </span>{{transactiondtail.need_note}}</div>
  
            </div> 
        </div>
      </div>
      <div class="row justify-content-center text-center">
          <button (click)="accepttransaction('1')" class="btn jugglr-btn-next">Accept</button>
        <button (click)="accepttransaction('0')"  class="btn jugglr-btn-next declinebutton">Decline</button>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>


  <ng-template #content3 let-modal>
      <div class="modal-header">
          Gig Summary
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center text-center" >
          <div class="col-10  " *ngIf="transactiondtail.need_serviceid==8">
            <div class="row transactiondetail" >
              <div class="col-3">
                  <img (click)="goUserDetail(transactiondtail.user_id)" [src]="transactiondtail.user_image" alt="Random second slide"
                  onerror="this.src='../../../assets/defaultprofile.png';" class="rounded-circlex jugglr-profile-img">
              </div>
              <div class="col-9 transactiondetailcol2 ">
                <div class="row">{{transactiondtail.user_name}} will help you with {{transactiondtail.offer_customservice}}</div>
                
              </div>
              <div class="col-12 transactiondetailrow"><span>When: </span>{{transactiondtail.offer_datetime| date: 'dd MMMM yyyy'}}</div>
              <div class="col-12 transactiondetailrow"><span>Time: </span>{{transactiondtail.offer_datetime| date: 'HH:mm'}}</div>
              <div class="col-12 transactiondetailrow"><span>Location: </span>{{transactiondtail.offer_location}}</div>
              <div class="col-12 transactiondetailrow"><span>Note: </span>{{transactiondtail.offer_note}}</div>
  
            </div> 
            <div class="row ">
                
                <div class="col-12 transactiondetailinexchange ">
                  <div class="">In exchange of {{transactiondtail.need_customservice}} ${{transactiondtail.amount}}</div>
                  
                </div>
                
                <div class="col-12 transactiondetailrow"><span>Note: </span>{{transactiondtail.need_note}}</div>
    
              </div> 
          </div>
          <div class="col-10  " *ngIf="transactiondtail.offer_serviceid==8">
              <div class="row transactiondetail" >
                <div class="col-3">
                    <img (click)="goUserDetail(transactiondtail.userwith_id)" [src]="transactiondtail.userwith_image" alt="Random second slide"
                    onerror="this.src='../../../assets/defaultprofile.png';" class="rounded-circlex jugglr-profile-img">
                </div>
                <div class="col-9 transactiondetailcol2 ">
                  <div class="row">{{transactiondtail.user_name}} will help you with {{transactiondtail.need_customservice}}</div>
                  
                </div>
                <div class="col-12 transactiondetailrow"><span>When: </span>{{transactiondtail.need_datetime| date: 'dd MMMM yyyy'}}</div>
                <div class="col-12 transactiondetailrow"><span>Time: </span>{{transactiondtail.need_datetime| date: 'HH:mm'}}</div>
                <div class="col-12 transactiondetailrow"><span>Location: </span>{{transactiondtail.need_location}}</div>
                <div class="col-12 transactiondetailrow"><span>Note: </span>{{transactiondtail.need_note}}</div>
    
              </div> 
              <div class="row ">
                  
                  <div class="col-12 transactiondetailinexchange ">
                    <div class="">In exchange of {{transactiondtail.offer_customservice}} ${{transactiondtail.amount}}</div>
                    
                  </div>
                  
                  <div class="col-12 transactiondetailrow"><span>Note: </span>{{transactiondtail.offer_note}}</div>
      
                </div> 
            </div>
        </div>
        <div class="row justify-content-center text-center">
          
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </ng-template>