<!-- Posts section -->
<div class="blog">
  <div class="container">
    <h1 class="text-center">Gig</h1>
    <div class="row" >


      <div class="col-md-4 col-lg-4 col-sm-12" *ngFor="let job of jobs">
        <div class="card">
          <div class="card-img">
            <img [src]="job.user_image" class="img-fluid">
          </div>

          <div class="card-body">
            <h4 class="card-title">{{ job.customservice}}</h4>
            <p class="card-text">

            </p>
            <p class="card-date">
              Datetime at : {{ job.datetime*1000 | date: 'yyyy-MM-dd' }}
            </p>
          </div>

          <div class="card-footer">
            <a [routerLink]="['/jobdetail']" [queryParams]="{ id: job.job_id}" class="card-link">Read more</a>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>