
<div class="container addjob-container">
   
   
  <div class="tab-pane h-100 col-12 col-md-8">
      <div class="row card-header">
          <button class="btn btn-link btnbackprofile" (click)="goBack()"><i class="fas fa-arrow-left"></i></button>
          <div class="jobdetailtitle capitolletters col-12">{{searchtext}} professionals</div>
        </div>
    <div class="row" *ngFor="let xuser of users; let i = index">

      <div class="card itemcardj w-100 shadow  bg-white rounded">
          <div class="row m-0 ">
            <div class="d-none d-md-flex coldateandchek align-middle coldate align-middle ">
              <div class="coldatecontentcheck mx-auto my-auto">
                  <img (click)="goUserDetail(xuser.user_id)" [src]="xuser.profile_image" 
                  onerror="this.src='../../../assets/defaultprofile.png';" class="rounded-circlex jugglr-profile-img jugglr-profile-imguserswithskill">
              </div>
            </div>
           
            <div class="col tododetail">
             

              <div class="row w-100 usernamerow" >
                <h5 (click)="goUserDetail(xuser.user_id)">{{xuser.name}} </h5>
                
              </div>
              <div class="row d-inline-flex rowserviceoffered justify-content-center" >
                  <div class="" *ngFor="let ser of xuser['subservice_offered']">
                      <small class=" subserviceoffer">{{ser['subservice_name']}}</small>
                    </div>                  
                </div>
              <div class="row w-100 rowtexttodo justify-content-left float-left" >
                      <div class="marketplaceratingandlikes col-9  float-left">
                        
                       
                        <div class="marketplaceratingandlikesitem float-left align-bottom" style="  border-right: 0px;">
                            <small>< {{xuser.distance}} Km &nbsp;&nbsp;<i class="fas fa-map-marker-alt"></i>&nbsp; {{xuser.suburb}}</small>
                        </div>
      
                      </div>
                      <div class="col-3">
                        <li class="fas fa-2x fa-users likebtn float-right" *ngIf="!xuser.is_shortlist" (click)="shortlist(xuser,i)"></li>
                        <li class="fas fa-2x fa-users likebtn active float-right" *ngIf="xuser.is_shortlist" (click)="shortlist(xuser,i)"></li>
      
                      </div>
                </div>

              

            </div>

          </div>
        </div>
    </div>
    
  </div>
</div>

