.coldate{
    color: #ffffff;
    padding-left: 0;
    padding-right: 0;
    
}
.coldatecontent span{
    font-weight: 200!important;}
.card-body {
    padding-top: 0px;
    padding-bottom: 0px;
    
    height: 94px;
}

.jugglr-tagx-main{
    min-width: 140px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background: #2a3E54;
    border-color:#2a3E54;
    border-width: 1px;
    color: #EBD1CA;
    margin-bottom: 0px;
  
  }
  .jugglr-tagx-main:hover{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background: #EBD1CA;
    border-color:#2a3E54;
    border-width: 1px;
    color: #2a3E54;
  }
  .jugglr-tagx-new{
    min-width: 140px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background: #86A6B2;
    border-color:#86A6B2;
    border-width: 1px;
    color: #2a3E54;
    margin-bottom: 0px;
  
  }
  .jugglr-tagx-new:hover{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background: #EDE2D2;
    border-color:#2a3E54;
    border-width: 1px;
    color: #FFFFFF;
  }
.jugglr-tag-new{
    min-width: 140px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background: #86A6B2;
    border-color:#86A6B2;
    border-width: 1px;
    color: #2a3E54;
    margin-bottom: 0px;

  }
  .jugglr-tag-new:hover{
    padding-right: 10px;
    padding-left: 10px;
    font-size: 12px;
    text-transform: uppercase;
    background: #EDE2D2;
    border-color:#2a3E54;
    border-width: 1px;
    color: #FFFFFF;
  }
  .texttodo{
      text-align: left;
  }
  .tab-pane {
    background: #FFFFFF;
    overflow-y: scroll;
  }
  
  .jugglr-profile-img{
      width: 80px;
      height: 80px;
  }
  .transactiondetail{
      
      text-align: left;
  }
  .transactiondetailrow span{
    font-weight: 200!important;      
  }
  .transactiondetailcol2 .row{
      padding: 5px;
      padding-left: 15px !important;
     
    }
    .transactiondetailrow{
        border-top:1px solid #EDE2D2;
        font-size: 15px;
        font-weight: 400;
        text-align: left!important;

    }
    .transactiondetailinexchange{
        border-top:1px solid #EDE2D2;
        padding-top:20px;
        text-align: center;
        font-size: 18px;

    }
    .transactiondetailinexchange .transactiondetailrow{
        text-align: left!important;
    }
    .transactiondetailinexchange{
    }
    .jugglr-btn-next{
        min-width: 100px!important;
        margin-right: 20px;
        padding: 0!important;
    }
    .declinebutton{
        background: #86A6B2;
    border-color:#86A6B2;
    }
    .btnpositive{
        
    }
    .btnneutral{
        background: #86A6B2;
        border-color:#86A6B2;

 
    }
    .btnnegativ{
        background: #EDE2D2;
        border-color:#EDE2D2;
        color: #2a3E54;

    }
    .jugglralert{
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100000;
        width: 100%;
        background: #EDE2D2;
        
    }
    
    .jugglr-tag-main{
        min-width: 140px;
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
        text-transform: uppercase;
        background: #2a3E54;
        border-color:#2a3E54;
        border-width: 1px;
        color: #EBD1CA;
        margin-bottom: 0px;
    
      }
      .jugglr-tag-main:hover{
        padding-right: 10px;
        padding-left: 10px;
        font-size: 12px;
        text-transform: uppercase;
        background: #EBD1CA;
        border-color:#2a3E54;
        border-width: 1px;
        color: #2a3E54;
      }
      .coldatecontentcheck{
        margin: auto;
        padding: inherit;
          }
      .coldateandchek{
          width: 155px;
          height: 155px;
          display: flex;
      }
      .tododetail{
          padding:15px;
      }
      .actionzone{
        margin-top: 15px;
        display: inline-flex;
        padding: 0;
    }
    .marginright15{
        margin-right:15px;
    }
    .subserviceoffer{
        border-radius: 25px;
        border: 2px solid;
        color: #2A3E54;
        border-color: #2A3E54;
      }
      .rowserviceoffered{
          max-height: 37px;
          overflow: hidden;
          padding-right: 15px;
          padding-left: 15px;
          margin-top: 15px;

      }
      .likebtn {
        color: #cccccc;
      }
      .likebtn.active {
        color: #3498DB;
      }
      .usernamerow{padding-left: 15px;}
      .rowtexttodo{
          margin-top: 15px;
      }
      .jugglr-profile-imguserswithskill{
          height: 125px;
          width: 125px;
      }
      .btnbackprofile{
        position: absolute;
        top: 17px;
        z-index: 100;
      
      }
      .jobdetailtitle{
        font-size: 26px;
        width: 100%;
        overflow: hidden;
        text-align: center;
        padding-right: 10px;
        padding-left: 10px;
        font-family: 'Lato', sans-serif;
        font-weight: 400!important;
      }
      .capitolletters{
          text-transform: uppercase;
      }
      .usernamerow h5, .jugglr-profile-imguserswithskill
      {
         cursor:pointer;
      }