<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container addjob-container">
    <h1 class="text-center">Join now to offer your service!</h1>
    <nav>
        <div class="nav nav-tabs nav-fill" role="tablist">
            <a [routerLink]="[ '/addjob']" class="nav-item nav-link" data-toggle="tab" role="tab" aria-selected="true">Step
                1</a>
            <a class="nav-item nav-link active" data-toggle="tab" role="tab" aria-selected="false">Step 2</a>
            <a class="nav-item nav-link" data-toggle="tab" role="tab" aria-selected="false">Step 3</a>
        </div>
    </nav>

  <form class="form" *ngIf="needmoredetails">
    <div class="form-group">
      <label>Email :</label>
      <div class="input-group mb-3">
        <input type="text" [(ngModel)]="currentuser.email" name="Business" class="form-control" placeholder="Please enter your email">
      </div>
    </div>
    <div class="form-group">
      <label>Postcode :</label>
      <div class="input-group mb-3">
        <input id="address-input" type="text" name="Businessaddress" class="form-control"
               placeholder="Please enter your business address">
      </div>
    </div>
    <div class="btn-postjob">
      <button type="submit" (click)="finishsignup()" class="btn ">Submit</button>
    </div>
  </form>

  <form class="form" *ngIf="!needmoredetails">
    <div class="row justify-content-center ">
      <h6>Almost there! You just need a simple profile for prospects to hire you</h6>
    </div>
    <div class="row justify-content-center ">
      <button (click)="socialSignIn('facebook')" class="jugglr-btn-facebook"><span class="fa fa-facebook"></span>
        Sign in with facebook
      </button>
    </div>
  </form>
</div>
