.jugglr-btn-facebook{
    background: #3b5998;
    border-color: #3b5998;
    color: #fff;
    text-color:#fff;
    margin-bottom: 5px;

}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #2A3E54;
    background-color: transparent;
    /* border-color: transparent transparent transparent transparent ; */
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}


nav {
    display: flex;
    justify-content: center;

}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius:100px;
    border-top-right-radius:100px;
    border-bottom: 4px solid !important;
    color: rgb(146, 134, 134);
    font-size: 20px;
}

.form{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}
