
<div class="row jugglr-headline">
    <div class=" col-xl-8 col-md-12 col-sm-12 ">
        <div class="row jugglr-headline-text">
            <h1>Hire & get hired.</h1>
        </div>
        <div class="row jugglr-headline-text">
          <h2>Professional mothers help local businesses grow</h2>
      </div>
        <div class="row justify-content-center">
            <div class="col-md-4 col-6 justify-content-center">
                   <!-- <app-modal-config></app-modal-config>-->
              <div class="row justify-content-center">
              <button (click)="addjobMum()" class="btn btn-light jugglr-btn-business">I'm a professional</button>
              </div>
              <div class="row justify-content-center">
                <p>Connecting mothers to local fully-flexible work</p>
                <a href="https://play.google.com/store/apps/details?id=com.jugglr&hl=en" target="_blank"><img src="../../../assets/google%20play.png" class=" btn" style="width: 150px;"></a>

              </div>

            </div>
            <div class="col-md-4 col-6 justify-content-center">
              <div class="row justify-content-center">

              <button (click)="addjobBusiness()" class="btn btn-light jugglr-btn-business">I'm a business</button>
            </div>
          <div class="row justify-content-center">
            <p>Connecting businesses with professionals on-demand</p>
            <a href="https://itunes.apple.com/au/app/jugglr-mums-work-on-demand/id1116637048?mt=8" target="_blank"><img src="../../../assets/download-on-the-app-store-apple.png" class=" btn" style="width: 150px;"></a>

          </div>
            </div>
        </div>


    </div>
</div>

