.jugglr-headline{
    justify-content: center;
    align-items: center;
    color:#ffffff;
    padding-top: 60px;

  text-align: center;
  min-height: 75%;
  background: url("../../../assets/ProMumandtoddler.jpg");
  background-position: center top;
}
.jugglr-headline-text{
  padding-left: 20px;
  padding-right: 20px;
}
.jugglr-headline-text h1{
  text-align: center;
  font-family: 'Lato', sans-serif, 'Lato';
  margin: auto;
  font-size: 50px;
  font-weight: 500;
  color:#ffffff;
  text-shadow: 2px 2px #000000;
  padding-top: 20px;

}
.jugglr-headline-text h2{
  text-align: center;
  font-family: 'Lato', sans-serif, 'Lato';
  margin: auto;

  font-weight: 300;

  color:#ffffff;
  text-shadow: 2px 2px #000000;
  padding-bottom: 20px;
  margin-bottom: 30px;

}
@media (max-width: 680px) {
  .jugglr-headline{
    min-height: 75%;
  }
  .jugglr-headline-text h1{


  }
}
.jugglr-headline p{
  margin-top: 10px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  color:#ffffff;
  text-shadow: 1px 1px #000000;
  padding-left: 20px;
  padding-right: 20px;

}
.jugglr-btn-business{
  font-size: 16px;
  font-weight: 400;
  background: #2880ba;
  color: #ffffff;
  text-align: center;
  height: 52px;
  width: 200px;
  letter-spacing: 1px;
  text-transform: uppercase;
  border: none;
}
.jugglr-btn-business:hover{
  background: #3498DB;
}
