<div class="modal-header">
  To accept this job you need to enter your bank details

  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button></div>
<div class="card-body">
  <form class="form" >
    <div class="form-group">
      <label>BSB Number :</label>
      <div class="input-group mb-3">
        <input type="text" [(ngModel)]="routing_number" name="routing_number" class="form-control" placeholder="Please enter the BSB number">
      </div>
    </div>
    <div class="form-group">
      <label>Account Number :</label>
      <div class="input-group mb-3">
        <input type="text" [(ngModel)]="account_number" name="account_number" class="form-control" placeholder="Enter your bank account number">
      </div>
    </div>
    <div class="btn-postjob text-center">
      <button type="submit" (click)="onSubmit()" class="btn  jugglr-btn-next ">Confirm</button>
    </div>
  </form>
</div>

