<div class="dashboard-menu-container d-none d-md-block d-lg-block d-xl-block w-25" >

  <div class="jugglrmenuitems">
    <div class="text-center menuimg-container">
        <a [routerLink]="[{ outlets: { dashboardContent: ['editprofile'] } }]" routerLinkActive="router-link-active" class="settingbutton"><i
          class="fas fa-2x fa-cog"></i></a>
        <div class="circle-img-background-companyx"><img routerLink="services" [src]="currentuser.profile_image_thumb"
          onerror="this.src='../../../assets/defaultprofile.png'" alt="Random second slide" class="rounded-circlex jugglr-profile-img"></div>
          <h3 class="nameuser">{{currentuser.firstname}} {{currentuser.lastname}} </h3>


         </div>

    <div class="list-group menuitemgroup" *ngIf="premiumstate">
      <a [routerLink]="[{ outlets: { dashboardContent: ['marketplace'] } }]" class="list-group-item list-group-item-action"
        [className]="routelocation.includes('marketplace') || routelocation=='/dashbord' ? 'list-group-item list-group-item-action list-group-item-actionselected' : 'list-group-item list-group-item-action'">
         <i class="fas fa-store"></i> Marketplace 
         <!-- <span class="jugglr-tag-count" *ngIf="notificationsCount.marketplace">{{notificationsCount.marketplace}}</span> -->
      </a>
      <a [routerLink]="[{ outlets: { dashboardContent: ['allnotifications'] } }]" [className]="routelocation.includes('allnotifications') ? 'list-group-item list-group-item-action list-group-item-actionselected' : 'list-group-item list-group-item-action'">
        <i class="fas fa-bell"></i> Notifications <span class="jugglr-tag-count" *ngIf="notificationsCount.notification">{{notificationsCount.notification}}</span>
      </a>
      <a [routerLink]="[{ outlets: { dashboardContent: ['chats'] } }]" routerLinkActive="router-link-active"
        [className]="routelocation.includes('chats') ? 'list-group-item list-group-item-action list-group-item-actionselected' : 'list-group-item list-group-item-action'">
        <i class="fas fa-comments"></i>Messages <span class="jugglr-tag-count" *ngIf="notificationsCount.message">{{notificationsCount.message}}</span>
      </a>
      <a [routerLink]="[{ outlets: { dashboardContent: ['bookings'] } }]" [className]="routelocation.includes('bookings') ? 'list-group-item list-group-item-action list-group-item-actionselected' : 'list-group-item list-group-item-action'">        
        <i class="fas fa-book"></i> Bookings <span class="jugglr-tag-count" *ngIf="notificationsCount.booking">{{notificationsCount.booking}}</span>
        <!-- <span class="jugglr-tag-new">Premium</span> -->
      </a>
      <a [routerLink]="[{ outlets: { dashboardContent: ['invoice'] } }]" [className]="routelocation.includes('invoice') ? 'list-group-item list-group-item-action list-group-item-actionselected' : 'list-group-item list-group-item-action'">
        <i class="fas fa-file-invoice-dollar"></i> Contracts<span class="jugglr-tag-new">Premium</span>
      </a>
      <a [routerLink]="[{ outlets: { dashboardContent: ['network'] } }]" routerLinkActive="router-link-active" [className]="routelocation.includes('network') ? 'list-group-item list-group-item-action list-group-item-actionselected' : 'list-group-item list-group-item-action'"><i
          class="fas fa-users"></i> Network<span class="jugglr-tag-new">Premium</span></a>
      <a [routerLink]="[{ outlets: { dashboardContent: ['analytics'] } }]" routerLinkActive="router-link-active" [className]="routelocation.includes('analytics') ? 'list-group-item list-group-item-action list-group-item-actionselected' : 'list-group-item list-group-item-action'"><i
        class="fas fa-chart-bar"></i> Analytics<span class="jugglr-tag-new">Premium</span>
      </a>
    </div>
    <div class="list-group menuitemgroup" *ngIf="!premiumstate">
      <a [routerLink]="[{ outlets: { dashboardContent: ['marketplace'] } }]" class="list-group-item list-group-item-action"
        [className]="routelocation.includes('marketplace') || routelocation=='/dashbord'? 'list-group-item list-group-item-action list-group-item-actionselected' : 'list-group-item list-group-item-action'">
        <i class="fas fa-store"></i> Marketplace 
        <!-- <span class="jugglr-tag-count" *ngIf="notificationsCount.marketplace">{{notificationsCount.marketplace}}</span> -->
      </a>
      <a [routerLink]="[{ outlets: { dashboardContent: ['allnotifications'] } }]" [className]="routelocation.includes('allnotifications') ? 'list-group-item list-group-item-action list-group-item-actionselected' : 'list-group-item list-group-item-action'">
        <i class="fas fa-bell"></i> Notifications <span class="jugglr-tag-count" *ngIf="notificationsCount.notification">{{notificationsCount.notification}}</span>
      </a>
      <a [routerLink]="[{ outlets: { dashboardContent: ['chats'] } }]"  routerLinkActive="router-link-active"
        [className]="routelocation.includes('chats') ? 'list-group-item list-group-item-action list-group-item-actionselected' : 'list-group-item list-group-item-action'">
        <i class="fas fa-comments"></i>Messages <span class="jugglr-tag-count" *ngIf="notificationsCount.message">{{notificationsCount.message}}</span>
      </a>
      <a [routerLink]="[{ outlets: { dashboardContent: ['bookings'] } }]" [className]="routelocation.includes('bookings') ? 'list-group-item list-group-item-action list-group-item-actionselected' : 'list-group-item list-group-item-action'">        
         <i class="fas fa-book"></i> Bookings <span class="jugglr-tag-count" *ngIf="notificationsCount.booking">{{notificationsCount.booking}}</span> 
         <!-- <span class="jugglr-tag-new">Premium</span> -->
      </a>
      <!-- <a (click)="open(content2,'bookings')" [className]="routelocation.includes('bookings') ? 'list-group-item list-group-item-action list-group-item-actionselected c-pointer' : 'list-group-item list-group-item-action c-pointer'">
        <i class="fas fa-book"></i> Bookings <span class="jugglr-tag-count" *ngIf="notificationsCount.booking">{{notificationsCount.booking}}</span><span class="jugglr-tag-new">Premium</span>
      </a> -->
      <a (click)="open(content2,'invoice')"  [className]="routelocation.includes('invoice') ? 'list-group-item list-group-item-action list-group-item-actionselected c-pointer' : 'list-group-item list-group-item-action c-pointer'">
        <i class="fas fa-file-invoice-dollar"></i>Contracts<span class="jugglr-tag-new">Premium</span>
      </a>
      <a (click)="open(content2, 'network')" routerLinkActive="router-link-active" [className]="routelocation.includes('network') ? 'list-group-item list-group-item-action list-group-item-actionselected c-pointer' : 'list-group-item list-group-item-action c-pointer'">
        <i class="fas fa-users"></i> Network<span class="jugglr-tag-new">Premium</span>
      </a>
      <a (click)="open(content2, 'analytics')" routerLinkActive="router-link-active" [className]="routelocation.includes('network') ? 'list-group-item list-group-item-action list-group-item-actionselected c-pointer' : 'list-group-item list-group-item-action c-pointer'">
        <i class="fas fa-chart-bar"></i> Analytics<span class="jugglr-tag-new">Premium</span>
      </a>
      <!-- <a [routerLink]="[{ outlets: { dashboardContent: ['settings'] } }]" class="list-group-item list-group-item-action"><i class="fas fa-sliders-h"></i> Settings</a>-->
    </div>
    <br>
    <div class="text-center">
      <button type="button" class="btn jugglr-btn-nextcalm" (click)="addjobclick()">Post Gig</button>
    </div>
  </div>
</div>
<div class="d-block d-md-none">
  <div class="fixed-bottom w-100">
    <div class=" row dashboard-mobile-menu">
      <a [routerLink]="[{ outlets: { dashboardContent: ['marketplace'] } }]" class="col-3 btn-link">
        <div class="fas fa-2x fa-store"></div>
      </a>
      <a (click)="open(content, '')" class="col-3"><i class="fas fa-2x fa-book"></i></a>
      <a [routerLink]="[{ outlets: { dashboardContent: ['chats'] } }]" routerLinkActive="router-link-active" class="col-3"><i
          class="far fa-2x fa-comments"></i></a>
      <a [routerLink]="[{ outlets: { dashboardContent: ['allnotifications'] } }]" class="col-3"><i class="far fa-2x fa-bell"></i></a>
      <!-- <a [routerLink]="[{ outlets: { dashboardContent: ['settings'] } }]" class="list-group-item list-group-item-action"><i class="fas fa-sliders-h"></i> Settings</a>-->
    </div>
  </div>
</div>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center text-center">
      <img src="../../../../assets/ico-app-dl.png" class=" mx-auto d-block">
    </div>
    <div class="row justify-content-center text-center" >
      <div class="col-10 ">
        <h4>This feature is currently available only in our mobile app!</h4>
        <p>Download Jugglr for mobile from your app store.</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <a href="https://play.google.com/store/apps/details?id=com.jugglr&hl=en" target="_blank"><img src="../../../../assets/google%20play.png"
          class=" btn"></a>
      <a href="https://itunes.apple.com/au/app/jugglr-mums-work-on-demand/id1116637048?mt=8" target="_blank"><img src="../../../../assets/download-on-the-app-store-apple.png"
          class=" btn"></a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
<ng-template #contentanalytic let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row justify-content-center text-center">
        <img src="../../../../assets/ico-app-dl.png" class=" mx-auto d-block">
      </div>
      <div class="row justify-content-center text-center" >
        <div class="col-10 ">
          <h4>Analytics is currently being developed and will be available soon!</h4>
          <p>Download Jugglr for mobile from your app store.</p>
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <a href="https://play.google.com/store/apps/details?id=com.jugglr&hl=en" target="_blank"><img src="../../../../assets/google%20play.png"
            class=" btn"></a>
        <a href="https://itunes.apple.com/au/app/jugglr-mums-work-on-demand/id1116637048?mt=8" target="_blank"><img src="../../../../assets/download-on-the-app-store-apple.png"
            class=" btn"></a>
      </div>
    </div>
    <div class="modal-footer">
    </div>
  </ng-template>

<ng-template #content2 let-modal>
  <div class="modal-header">
      Jugglr Business Premium
      <div class="row row4 justify-content-center">
         <div class="col-12 col-md-12">
            <div class="row justify-content-center">
               <p style="margin: 7px 0 0 0;font-size: 16px;">AU${{this.amount / 100}} per month</p>
            </div>
         </div>
      </div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">
    <div class="row row3 rowtitle justify-content-center">

      <h5>PREMIUM TOOLS</h5>
    </div>
    <div class="row row4 justify-content-center">
      <div class="col-4 col-md-4 colitem">
        <div class="row rowimg justify-content-center">
          <i class="fas fa-2x fa-toolbox"></i>
        </div>
        <div class="row justify-content-center">
          <p>End to end job management tools</p>
        </div>

      </div>
      <div class="col-4 col-md-4 colitem">
        <div class="row rowimg justify-content-center">
          <i class="far fa-2x fa-file-alt"></i>
        </div>
        <div class="row justify-content-center">
          <p>Payment and invoicing system</p>
        </div>

      </div>
      <div class="col-4 col-md-4 colitem">
        <div class="row rowimg justify-content-center">
          <i class="far fa-2x fa-check-circle"></i>
        </div>
        <div class="row justify-content-center">
          <p>Unlimited gig posts</p>
        </div>

      </div>
      <div class="col-4 col-md-4 colitem">
        <div class="row rowimg justify-content-center">
          <i class="fas fa-2x fa-funnel-dollar"></i>
        </div>
        <div class="row justify-content-center">
          <p>No commissions on transactions</p>
        </div>

      </div>
      <div class="col-4 col-md-4 colitem">
        <div class="row  rowimg justify-content-center">
          <i class="far fa-2x fa-user-circle"></i>
        </div>
        <div class="row justify-content-center">
          <p>Dispute management and resolution</p>
        </div>

      </div>


    </div>
    <div class="row rowtitle justify-content-center">

      <h5>VALUE GUARANTEE</h5>
    </div>
    <div class="row row4 justify-content-center">
      <div class="col-4 col-md-4 colitem">
        <div class="row rowimg justify-content-center">
          <i class="fas fa-2x fa-hand-holding-usd"></i>
        </div>
        <div class="row justify-content-center">
          <p>Money back guarantee</p>
        </div>

      </div>
      <div class="col-4 col-md-4 colitem">
        <div class="row rowimg justify-content-center">
          <i class="far fa-2x fa-times-circle"></i>
        </div>
        <div class="row justify-content-center">
          <p>Cancel anytime</p>
        </div>

      </div>


    </div>
    <div class="row justify-content-center">

      <button (click)="handlePayment()" class="btn  jugglr-btn-next">
        Subscribe now
      </button>
    </div>

  </div>

</ng-template>




<ng-template #content3 let-modal>
  <div class="modal-header">
      Jugglr Business Premium
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body text-center">

   

    <div class="row row3 rowtitle justify-content-center">

      <h5>PREMIUM TOOLS</h5>
    </div>
    <div class="row row4 justify-content-center">
      <div class=”btn” id=”upload_image”>Upload image</div>

    </div>
    <div class="row rowtitle justify-content-center">

      <h5>VALUE GUARANTEE</h5>
    </div>
    <div class="row row4 justify-content-center">
      <div class="col-4 col-md-4 colitem">
        <div class="row rowimg justify-content-center">
          <i class="fas fa-2x fa-hand-holding-usd"></i>
        </div>
        <div class="row justify-content-center">
          <p>money back guarantee</p>
        </div>

      </div>
      <div class="col-4 col-md-4 colitem">
        <div class="row rowimg justify-content-center">
          <i class="far fa-2x fa-times-circle"></i>
        </div>
        <div class="row justify-content-center">
          <p>Cancel anytime</p>
        </div>

      </div>


    </div>
    <div class="row justify-content-center">

      <button (click)="handlePayment()" class="btn  jugglr-btn-next">
        Subscribe now
      </button>
    </div>

  </div>

</ng-template>


