.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #2A3E54;
  background-color: transparent;
  /* border-color: transparent transparent transparent transparent ; */
  border-bottom: 6px solid !important;
  font-size: 20px;
  font-weight: bold;
}
.nav-tabs .nav-link {
  border: 1px solid transparent;
  border-top-left-radius:100px;
  border-top-right-radius:100px;
  border-bottom: 6px solid !important;
  color: #c7c8c9;
  font-size: 20px;
}

.btn-postjob{
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    justify-content: center;

}


span{
    background-color: transparent;
    border-color: rgb(161, 161, 161) transparent rgb(161, 161, 161) rgb(161, 161, 161)  ;
}

.jugglr-validation-text{
  font-size: 30px;
}
.form{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}
.jugglr-btn-next{
  text-transform: none;
}
