<div class="list-group" *ngFor="let notification of notifications">
  <a (click)="go(notification['data'])" class="list-group-item list-group-item-action flex-column align-items-start notificationitem">

    <small class="text-muted">{{notification['data']['msg']}}</small>
    <div class=" w-100 ">
      <small class="text-muted float-right">{{timeSince(notification['createdAt']*1000| date : 'yyyy-MM-dd HH:mm:ss')}}</small>
    </div>
  </a>



</div>
<p *ngIf="notifications.length==0">
  loading Notifications ...
</p>