<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="container addjob-container" *ngIf="isRegistred">

    <form class="form row">
        <div class="col-12 justify-content-center ">
          <div class="">
          </div>
            <div class="row justify-content-center text-center">
              <!-- <img src="../../../../assets/ico-app-dl.png" class=" mx-auto d-block"> -->
               <form class="fb-form">
                  <div class="row justify-content-center ">
                  <button (click)="socialSignIn('facebook')" class="jugglr-btn-facebook"><span class="fa fa-facebook"></span> &nbsp;
                     Sign in with facebook
                  </button>
                  </div>
               </form>
            </div>
            <div class="row justify-content-center text-center" >
              <div class="col-10 ">
                <!-- <h4>Are you a mother looking for local fully-flexible work?</h4> -->
                <p>Download the Jugglr app and start working on your own terms!</p>
              </div>
            </div>
            <div class="row justify-content-center text-center">
              <a href="https://play.google.com/store/apps/details?id=com.jugglr&hl=en" target="_blank"><img src="../../../../assets/google%20play.png" class=" btn"></a>
              <a href="https://itunes.apple.com/au/app/jugglr-mums-work-on-demand/id1116637048?mt=8" target="_blank"><img src="../../../../assets/download-on-the-app-store-apple.png" class=" btn" ></a>
            </div>
        </div>
    </form>
    
</div>

<span style="color: red" *ngIf="message!=null">{{message}}</span>

<div class="container addjob-container" *ngIf="!isRegistred">
   <div class="row justify-content-center">
      <form ngNativeValidate (ngSubmit)="save()" class="form addjobform col-lg-6 col-sm-8">
            <!-- MultiStep Form -->
            <div class="row">
               <div class="col-md-12">
                  <form id="msform">
                     <!-- progressbar -->
                     <ul id="progressbar">
                        <li [ngClass]="{ 'active': registerStep >= 1 }" ></li>
                        <li [ngClass]="{ 'active': registerStep >= 2 }"></li>
                        <li [ngClass]="{ 'active': registerStep >= 3 }"></li>
                     </ul>
                  </form>
               </div>
            </div>
            <!-- /.MultiStep Form -->

            <div class="step1" *ngIf="registerStep == 1">
               <h4>LET'S GET STARTED!</h4>
               <p style="margin-top: 15px">If you're looking for fully-flexible professional gigs. You are in the right place! To help you find great local gigs we need few details.</p><br/>
               <form name="formStep1" ngNativeValidate (submit)="saveRegisterStep(1)">
                  <div class="form-group">
                     <label for="formGroupExampleInput2 ">Email Address</label>
                     <div class="input-group mb-3 ">
                        <input id="txtEmail" name="txtEmail" type="text" [(ngModel)]="user.email" class="form-control form-control-noborder" placeholder="Enter Email Address" required >
                     </div>
                  </div>
                  <div class="form-group ">
                     <label for="formGroupExampleInput2 ">Postcode</label>
                     <div class="input-group mb-3 ">
                        <input name="textPostcodesearch" id="typeahead-http" type="text" class="form-control form-control-noborder" placeholder="Search Postcode" aria-label="Search" 
                           [class.is-invalid]="searchFailed" 
                           [(ngModel)]="postcodeSearch" 
                           [ngbTypeahead]="search" 
                           [resultFormatter]="formatter" 
                           [inputFormatter]="inputformatter" 
                           [focusFirst]=true 
                           (selectItem)="selectedItem($event)"
                           (blur)="validatePostcode()"
                           required />
                     </div>
                  </div>
                  <div class="btn-postjob">
                     <button type="submit" class="btn jugglr-btn-next">Next</button>
                  </div>
               </form>
            </div>
            <div class="step2" *ngIf="registerStep == 2">
               <p style="margin-top: 15px">Please select 'Payment / Money / Cash' If you want to do paid gigs. Select also other services if you require professionals to work for you.</p><br/>
               <div class="row nService-Item" *ngFor="let ser of serviceNeeded">
                  <div class="nService-title col-sm-12">{{ser.service_name}}</div>
                  <div class="nService-body col-sm-12">
                     <div class="row" style="padding: 10px">
                        <div class="tag-item" [ngClass]="{ 'selected': subser.selected }" *ngFor="let subser of ser.subservice" (click)="selectSubServiceItem(subser)">
                           <span class="col subserviceoffer">{{subser.subservice_name}}</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="btn-postjob">
                  <button type="button" class="btn jugglr-btn-next" (click)="loadRegStep(1)" style="margin-right: 15px;">Previous</button>
                  <button type="button" class="btn jugglr-btn-next" (click)="saveRegisterStep(2)">Next</button>
               </div>
            </div>
            <div class="step3" *ngIf="registerStep == 3">
               <p style="margin-top: 15px">Select up to four services you can offer to local businesses.</p><br/>
               <div class="row nService-Item" *ngFor="let ser of serviceOffered">
                  <div class="nService-title col-sm-12">{{ser.service_name}}</div>
                  <div class="nService-body col-sm-12">
                     <div class="row" style="padding: 10px">
                        <div class="tag-item" [ngClass]="{ 'selected': subser.selected }" *ngFor="let subser of ser.subservice" (click)="selectSubServiceItem(subser)">
                           <span class="col subserviceoffer">{{subser.subservice_name}}</span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="btn-postjob">
                  <button type="button" class="btn jugglr-btn-next" (click)="loadRegStep(2)" style="margin-right: 15px;">Previous</button>
                  <button type="button" class="btn jugglr-btn-next" (click)="saveRegisterStep(3)">Finish</button>
               </div>
            </div>
            <div class="step4" *ngIf="registerStep == 4">
               <p style="margin-top: 15px">Welcome! You are currently unverified and do not have access to some features in Jugglr, don't worry someone in our trusted network will verify you soon.</p>
               <br/>
               <br/>
               <button type="button" class="btn jugglr-btn-next" (click)="saveRegisterStep(4)">Home Page</button>
            </div>
         </form>
    </div>   
    <form class="form" style="display: none;">
        <div class="form-group">
          <label>Business contact email*</label>
          <div class="input-group mb-3">
            <input type="email" email [(ngModel)]="user.email" name="Businessemail" class="form-control" placeholder="This will become your username.">
          </div>
        </div>

        <div class="form-group">
          <label>Location</label>
          <div class="input-group mb-3">
            <input id="address-input" type="text" [(ngModel)]="user.address" name="Businessaddress" class="form-control"
              placeholder="Please enter your location">
          </div>
        </div>
        <div class="btn-postjob">
          <button type="submit" (click)="saveMumUser()" class="btn ">Sign Up Mother</button>
        </div>
      </form>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"></h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center text-center">
      <img src="../../../../assets/ico-app-dl.png" class=" mx-auto d-block">
    </div>
    <div class="row justify-content-center text-center" >
      <div class="col-10 ">
        <h4>Are you a mother looking for local fully-flexible work?</h4>
        <p>Download the Jugglr app and start working on your own terms!</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <a href="https://play.google.com/store/apps/details?id=com.jugglr&hl=en" target="_blank"><img src="../../../../assets/google%20play.png" class=" btn"></a>
      <a href="https://itunes.apple.com/au/app/jugglr-mums-work-on-demand/id1116637048?mt=8" target="_blank"><img src="../../../../assets/download-on-the-app-store-apple.png" class=" btn" ></a>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</ng-template>
