<head>
  <meta name="norton-safeweb-site-verification" content="i6a666pempkerpcyd-p1jib18rnj-plzyorg8w-a9g9dryv5a-rsoh4wt26jpm2o764--hz6fpsxowc20uxg06otsxnio1sub0eorbok10xcm0j9f63r-0ie2esyz-9z" />
  <title>Jugglr</title>
  <base href="/">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <script src="https://checkout.stripe.com/checkout.js"></script>

</head>
<body>
  <app-root></app-root>
  <script src="https://js.stripe.com/v3/"></script>
  <script type="text/javascript">
    var stripe = Stripe('pk_live_9nuQhenxS720bU51EV0RlZiR'); // use your test publishable key
    //var stripe = Stripe('pk_test_N7yBEFLf91LDEGth59zZ9asT'); // use your test publishable key
    var elements = stripe.elements();
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwPVTiGnYn5uXh8JNgxx4xXGHQ42OpSiQ&libraries=places&sensor=false&language=en"></script>
  <script type="text/javascript" src="https://jugglr.app/tag.js?campaign_id=favbyz8u" data-name="retc-tag"></script>
  <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
<!--Start of Tawk.to Script-->
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
  var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/59da59374854b82732ff4546/default';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);
  })();
  </script>
  <!--End of Tawk.to Script-->

<!-- Facebook Pixel Code -->
<script>
  !function(f,b,e,v,n,t,s)
  {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
  n.callMethod.apply(n,arguments):n.queue.push(arguments)};
  if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
  n.queue=[];t=b.createElement(e);t.async=!0;
  t.src=v;s=b.getElementsByTagName(e)[0];
  s.parentNode.insertBefore(t,s)}(window, document,'script',
  'https://connect.facebook.net/en_US/fbevents.js');
  fbq('init', '1791399037741070');
  fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=1791399037741070&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</body>

