<div class="container addjob-container">
    <nav>
        <div class="nav nav-tabs col-6 nav-fill" role="tablist">
            <a [routerLink]="[ '/addjob']" class="nav-item nav-link" data-toggle="tab" role="tab" aria-selected="true">Step 1</a>
            <a [className]="displayJobInfo==false ? 'nav-item nav-link active' : 'nav-item nav-link'" data-toggle="tab" role="tab" aria-selected="false">Step 2</a>
            <a [className]="displayJobInfo==true ? 'nav-item nav-link active' : 'nav-item nav-link'" data-toggle="tab" role="tab" aria-selected="false">Step 3</a>
        </div>
    </nav>
    <div class="row justify-content-center" id="loginForm">

        <form ngNativeValidate (ngSubmit)="signin()" class="form addjobform col-lg-6 col-sm-8" *ngIf="login">
            <div class="form-group">
                <label>Email</label>
                <div class="input-group mb-3">
                    <input type="text" [(ngModel)]="user.email" name="Business" class="form-control" placeholder="Enter your email" required>
                </div>
            </div>
            <div class="form-group">
                <label>Password</label>
                <div class="input-group mb-3">
                    <input type="password" [(ngModel)]="user.password" name="Business" class="form-control" placeholder="Enter your password" required>
                </div>
            </div>
            <div class="btn-postjob">
                <button class="btn  jugglr-btn-next">Sign In</button>
            </div>
            <div class="row justify-content-center ">
                <div class="loader" *ngIf="loading"></div>
                <div class="text-center" style="color: red" *ngIf="message!=null">{{message}}</div>
            </div>
            <div class="justify-content-center ">

                <div class="text-center">
                    <span>Don't have an account? <a class="btn btn-link pinklink"  (click)="logif()">Sign up</a></span>
                </div>
                <div class="text-center">
                    <span><a class="btn btn-link pinklink" [routerLink]="['/forgotpassword']"><small>Forgot password?</small></a></span>
                </div>
            </div>
        </form>

        <form ngNativeValidate (ngSubmit)="startregistred()" class="form addjobform col-lg-6 col-sm-8" *ngIf="!login">
            <div class="form-group">
                <label>Business name *</label>
                <div class="input-group mb-3">
                    <input type="text" [(ngModel)]="user.firstname" name="Businessname" class="form-control" placeholder="Enter your business name" required>
                </div>
            </div>
            <div class="form-group">
                <label>Business contact email *</label>
                <div class="input-group mb-3">
                    <input type="email" email [(ngModel)]="user.email" name="Businessemail" class="form-control" placeholder="This email will become your username" required>
                </div>
            </div>
            <div class="form-group">
                <label>Password *</label>
                <div class="input-group mb-3">
                    <input type="password" [(ngModel)]="user.password" name="Businesspassword" class="form-control" placeholder="Choose a password" required>
                </div>
            </div>
            <div class="form-group">
                <label>Business website *</label>
                <div class="input-group mb-3">
                    <input type="text" [(ngModel)]="user.webaddress" name="Businesswebsite" class="form-control" placeholder="e.g. www.yourwebsite.com" required>
                </div>
            </div>
            <div class="form-group">
                <label>Business phone number *</label>
                <div class="input-group mb-3">
                    <input type="text" [(ngModel)]="user.phone" name="Businessphone" class="form-control" placeholder="e.g. 0415123456 or 0898765432" required>
                </div>
            </div>
            <div class="form-group">
                <label>Business address *</label>
                <div class="input-group mb-3">
                    <input ngx-google-places-autocomplete [options]="options" [(ngModel)]="user.address" name="Businessaddress" id="address-input" class="form-control" #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" placeholder="Enter your business address"
                        required/>
                </div>
            </div>
            <div class="form-group">
                <label>Social media page link (optional)</label>
                <div class="input-group mb-3">
                    <input type="text" [(ngModel)]="user.contactus" name="Businesspage" class="form-control" placeholder="e.g. facebook page link">
                </div>
            </div>
            <div class="form-group">
                <label>Business description</label>
                <div class="input-group mb-3">
                    <textarea [(ngModel)]="user.about_me" name="Businessbio" class="form-control" placeholder="Short description of your business (max 300 characters)"></textarea>
                </div>
            </div>
            <div class="form-group" style="color: red">
                <label>* Required</label>
            </div>

            <div class="btn-postjob">
                <button type="submit" (click)="startregistred()" class="btn  jugglr-btn-next">Sign up</button>
            </div>
            <div class="row justify-content-center ">
                <div class="loader" *ngIf="loading"></div>
                <div class="text-center" style="color: red" *ngIf="message!=null">{{message}}</div>
            </div>
            <div class="row justify-content-center text-center">

                <div class="col text-center">
                    <span>Have an account?<a class="btn btn-link pinklink"  (click)="showlogin()">Log in</a></span>
                </div>
                
            </div>

        </form>
    </div>
    <div class="add-job-margin">
        <app-addjobform *ngIf="displayJobInfo==true" [isJobInfoSave]="displayJobInfo"></app-addjobform>
    </div>
</div>