.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #2A3E54;
    background-color: transparent;
    /* border-color: transparent transparent transparent transparent ; */
    border-bottom: 6px solid !important;
    font-size: 20px;
    font-weight: bold;
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 6px solid !important;
    color: #c7c8c9;
    font-size: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

.form {}

.addjobform {
    text-align: start;
    margin-top: 20px;
}

.btn-postjob {
    display: flex;
    justify-content: center;
}

.loader {
    border: 10px solid #f3f3f3;
    /* Light grey */
    border-top: 16px solid #2A3E54;
    /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: auto;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.add-job-margin {
    margin-top: -9%;
}