

<div class="row justify-content-center short-hiw">
  <div class="content0 title col-md-12 col-xl-3 text-center">
    <h2>Why Jugglr?</h2>
  </div>
  <div class="content1 item col-md-4 col-xl-3">
    <h4>Professional Skills</h4>
    <p>Experienced and qualified mothers</p>
    <p>Highly efficient resources</p>
  </div>
  <div class="content1 item col-md-4 col-xl-3">
    <h4>Affordable Rates</h4>
    <p>Remove intermediaries</p>
    <p>Eliminate overheads</p>
  </div>
  <div class="content1 item col-md-4 col-xl-3">
    <h4>Fully Flexible Terms</h4>
    <p>Independent contractors</p>
    <p>From 2 to 20 hours a week</p>
  </div>
</div>
