<div class="modal-header">
  Enter your payment details

  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form #checkout="ngForm" (ngSubmit)="onSubmit(checkout)" class="checkout" >
  <div class="form-row">
    <label for="card-info">Card Info</label>
    <div id="card-number" #cardNumber></div>
    <div id="card-expiry" #cardExpiry></div>
    <div id="card-cvc" #cardCvc></div>

    <div id="card-errors" role="alert" *ngIf="error">{{ error }}</div>
  </div>

  <button type="submit">Confirm</button>
</form>
